<div class="cards cards--pms-432-c">
  <div class="cards__wrapper">
    <div class="cards__card student-profile">
      <div class="card__image">
        <img src="../images/tireless.jpg" alt="">
      </div>
      <h2 class="card__header">
        Student Profile
      </h2>
      <div class="card__copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      </div>
    </div>
    <div class="cards__card">
      <div class="card__image">
        <img src="../images/tireless.jpg" alt="">
      </div>
      <h2 class="card__header">
        By the Numbers
      </h2>
      <div class="card__copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      </div>
    </div>
    <div class="cards__card">
      <div class="card__image">
        <img src="../images/tireless.jpg" alt="">
      </div>
      <h2 class="card__header">
        By the Numbers
      </h2>
      <div class="card__copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      </div>
    </div>
  </div>
</div>