<div class="cards">
  <div class="cards__wrapper">
    <div class="cards__card student-profile">

      <h2 class="card__header">
        Student Profile
      </h2>
      <p class="card__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      <a href="" class="button">Major at WVU</a>
    </div>
    <div class="cards__card">

      <h2 class="card__header">
        By the Numbers
      </h2>
      <p class="card__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      <a href="" class="button">Major at WVU</a>
    </div>
    <div class="cards__card">

      <h2 class="card__header">
        By the Numbers
      </h2>
      <p class="card__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      <a href="" class="button">Major at WVU</a>
    </div>
  </div>
</div>