<div class="navigation">
  <div class="navigation-wrapper">
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><a href="javascript:void(0)">About B&E</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Undergraduate</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Graduate</a></li>
        <li class="nav-link more"><a href="javascript:void(0)">Centers</a>
          <ul class="submenu">
            <li><a href="javascript:void(0)">Submenu Item</a></li>
            <li><a href="javascript:void(0)">Another Item</a></li>
            <li class="more"><a href="javascript:void(0)">Item with submenu</a>
              <ul class="submenu">
                <li><a href="javascript:void(0)">Sub-submenu Item</a></li>
                <li><a href="javascript:void(0)">Another Item</a></li>
              </ul>
            </li>
            <li class="more"><a href="javascript:void(0)">Another submenu</a>
              <ul class="submenu">
                <li><a href="javascript:void(0)">Sub-submenu</a></li>
                <li><a href="javascript:void(0)">An Item</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-link"><a href="javascript:void(0)">Faculty & Staff</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Alumni & Friends</a></li>
        <li class="nav-link"><a href="javascript:void(0)">News & Events</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Give</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Shop B&E</a></li>
      </ul>
    </div>
  </div>
</div>
