<div class="wvu-masthead">
  <div class="wvu-masthead__container">
    <a class="wvu-masthead__logo" href="http://www.wvu.edu/"><span class="wvu-masthead__university wvu-masthead__university--two-line-lockup">West Virginia University</span> <span class="wvu-masthead__title wvu-masthead__title--two-line-lockup">College of Business <br>and Economics</span></a>
    
    <div class="wvu-masthead__search-bar">
      <div class="wvu-masthead__search-and-submit">
        <input class="wvu-masthead__search-box" type="search" placeholder="Enter Search" />
        <button class="wvu-masthead__search-button" type="submit">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
        </button>
      </div>
      <div class="wvu-masthead__search-type"><input type="radio"> Search this site <input type="radio"> Search WVU</div>
    </div>
    
  </div> <!-- /.wvu-masthead__container -->
</div> <!-- /.wvu-masthead --> 