<ul class="wvu-nav nav-collapse">
<li class="more">
<a href="http://brand.wvu.edu/brand-positioning">Brand Positioning</a><ul>
<li class=""><a href="http://brand.wvu.edu/brand-positioning/key-messaging">Key Messaging</a></li>
<li class=""><a href="http://brand.wvu.edu/brand-positioning/brand-platform">Brand Platform</a></li>
<li class=""><a href="http://brand.wvu.edu/brand-positioning/our-audiences">Our Audiences</a></li>
<li class=""><a href="http://brand.wvu.edu/brand-positioning/messaging-map">Messaging Map</a></li>
<li class=""><a href="http://brand.wvu.edu/brand-positioning/how-wvu-goes-first">How WVU Goes First</a></li>
</ul>
</li>
<li class="more">
<a href="http://brand.wvu.edu/brand-guide">Brand Guide</a><ul>
<li class="more">
<a href="http://brand.wvu.edu/brand-guide/voice">Voice</a><ul>
<li class=""><a href="http://brand.wvu.edu/brand-guide/voice/personality">Personality</a></li>
<li class=""><a href="http://brand.wvu.edu/brand-guide/voice/flexibility">Flexibility</a></li>
<li class=""><a href="http://brand.wvu.edu/brand-guide/voice/getting-it-right">Getting It Right</a></li>
<li class="more">
<a href="http://brand.wvu.edu/brand-guide/voice/style-guide">Style Guide</a><ul>
<li class=""><a href="http://brand.wvu.edu/brand-guide/voice/style-guide/the-university-s-name">The University’s Name</a></li>
<li class=""><a href="http://brand.wvu.edu/brand-guide/voice/style-guide/regional-campus-and-division-names">Regional Campus and Division Names</a></li>
<li class=""><a href="http://brand.wvu.edu/brand-guide/voice/style-guide/college-school-office-department-and-program-names">College, School, Office, Department and Program Names</a></li>
<li class=""><a href="http://brand.wvu.edu/brand-guide/voice/style-guide/abbreviations-and-acronyms">Abbreviations and Acronyms</a></li>
<li class=""><a href="http://brand.wvu.edu/brand-guide/voice/style-guide/degrees">Degrees</a></li>
<li class=""><a href="http://brand.wvu.edu/brand-guide/voice/style-guide/academic-and-professional-titles">Academic and Professional Titles</a></li>
<li class=""><a href="http://brand.wvu.edu/brand-guide/voice/style-guide/building-names">Building Names</a></li>
<li class=""><a href="http://brand.wvu.edu/brand-guide/voice/style-guide/style-and-punctuation">Style and Punctuation</a></li>
<li class=""><a href="http://brand.wvu.edu/brand-guide/voice/style-guide/common-words-and-expressions-wvu-related-words-and-expressions">Common Words and Expressions/WVU-Related Words and Expressions</a></li>
</ul>
</li>
<li class=""><a href="http://brand.wvu.edu/brand-guide/voice/boilerplate-and-rankings">Boilerplate and Rankings</a></li>
</ul>
</li>
<li class="more">
<a href="http://brand.wvu.edu/brand-guide/identity">Identity</a><ul>
<li class=""><a href="http://brand.wvu.edu/brand-guide/identity/logo">Logo</a></li>
<li class=""><a href="http://brand.wvu.edu/brand-guide/identity/sub-brands">Sub Brands</a></li>
<li class=""><a href="http://brand.wvu.edu/brand-guide/identity/other-marks">Other Marks</a></li>
<li class=""><a href="http://brand.wvu.edu/brand-guide/identity/tagline">Tagline</a></li>
<li class=""><a href="http://brand.wvu.edu/brand-guide/identity/email-signature">Email Signature</a></li>
</ul>
</li>
<li class="more">
<a href="http://brand.wvu.edu/brand-guide/graphic-language">Graphic Language</a><ul>
<li class=""><a href="http://brand.wvu.edu/brand-guide/graphic-language/photo">Photo</a></li>
<li class=""><a href="http://brand.wvu.edu/brand-guide/graphic-language/color">Color</a></li>
<li class=""><a href="http://brand.wvu.edu/brand-guide/graphic-language/elements">Elements</a></li>
<li class=""><a href="http://brand.wvu.edu/brand-guide/graphic-language/type">Type</a></li>
</ul>
</li>
</ul>
</li>
<li class="open more">
<a href="http://brand.wvu.edu/downloads-toolkit">Downloads/Toolkit</a><ul>
<li class=""><a href="http://brand.wvu.edu/downloads-toolkit/logo-signature" class="active">The Flying WV with Signature</a></li>
<li class=""><a href="http://brand.wvu.edu/downloads-toolkit/the-flying-wv">The Flying WV</a></li>
<li class=""><a href="http://brand.wvu.edu/downloads-toolkit/sub-brands">Sub Brands</a></li>
<li class=""><a href="http://brand.wvu.edu/downloads-toolkit/color-palette">Color Palette</a></li>
<li class=""><a href="http://brand.wvu.edu/downloads-toolkit/pattern">Pattern</a></li>
<li class=""><a href="http://brand.wvu.edu/downloads-toolkit/fonts">Fonts</a></li>
<li class="more">
<a href="http://brand.wvu.edu/downloads-toolkit/photo-gallery">Photo Gallery</a><ul>
<li class=""><a href="http://brand.wvu.edu/downloads-toolkit/photo-gallery/campus">Campus</a></li>
<li class=""><a href="http://brand.wvu.edu/downloads-toolkit/photo-gallery/athletics">Athletics</a></li>
<li class=""><a href="http://brand.wvu.edu/downloads-toolkit/photo-gallery/seasonal">Seasonal</a></li>
<li class=""><a href="http://brand.wvu.edu/downloads-toolkit/photo-gallery/research">Research</a></li>
<li class=""><a href="http://brand.wvu.edu/downloads-toolkit/photo-gallery/student-life">Student Life</a></li>
<li class=""><a href="http://brand.wvu.edu/downloads-toolkit/photo-gallery/classroom">Classroom</a></li>
</ul>
</li>
</ul>
</li>
<li class=""><a href="http://brand.wvu.edu/making-it-real">Making It Real</a></li>
</ul>