<ul class="wvu-nav nav-collapse" role="navigation">
	<li><a href="#">Home</a></li>
	<li>
		<a href="#">About</a>
		<ul>
			<li><a href="#">The Company</a></li>
			<li><a href="http://google.com">The Team</a></li>
		</ul>
	</li>
	<li>
		<a href="#">Services</a>
		<ul>
			<li><a href="#">One Service</a></li>
			<li><a href="#">Two Service</a></li>
			<li><a href="#">Three Service</a></li>
			<li><a href="#">Four</a></li>
		</ul>
	</li>
	<li>
		<a href="#">Products</a>
		<ul>
			<li><a href="#">Apples</a></li>
			<li><a href="#">Oranges</a></li>
			<li><a href="#">Grapes</a></li>
			<li><a href="#">Pears</a></li>
			<li><a href="#">Strawberries</a></li>
		</ul>
	</li>
	<li>
		<a href="#">Contact Us</a>
		<ul>
			<li><a href="#">Store Hours</a></li>
			<li><a href="#">Directions</a></li>
			<li><a href="#">Staff Directory</a></li>
		</ul>
	</li>
</ul>