<div class="wvu-triptych-combo">
  <div class="wvu-triptych-combo__panel wvu-triptych-combo__panel--spotlights">
    <h2>Spotlights</h2>
  
    <div class="wvu-spotlight">
      <div class="wvu-spotlight__image">
        <a href="<r:page:url />"><img src="<r:image_url name="kids-sitting-by-tulips.jpg" />" /></a>
      </div>
      <div class="wvu-spotlight__copy">
        <h2><r:page:first_non_blank_attr names="alternate_name,name" /></h2>
        <p><r:page:meta_description /></p>
        <a href="<r:page:url />" class="button">Continue to <r:page:first_non_blank_attr names="alternate_name,name" /></a>
      </div>
    </div>
  
    <div class="wvu-spotlight">
      <div class="wvu-spotlight__image">
        <a href="<r:page:url />"><img src="<r:image_url name="kids-sitting-by-tulips.jpg" />" /></a>
      </div>
      <div class="wvu-spotlight__copy">
        <h2><r:page:first_non_blank_attr names="alternate_name,name" /></h2>
        <p><r:page:meta_description /></p>
        <a href="<r:page:url />" class="button">Continue to <r:page:first_non_blank_attr names="alternate_name,name" /></a>
      </div>
    </div>

  </div>
  
  <div class="wvu-triptych-combo__panel wvu-triptych-combo__panel--calendar omega">
    <h2>
      Events
    </h2>
  
    <r:partial name="demo/wvu-calendar" />

    <a href="" class="button button--white">All Events</a>


  </div>

</div>