
<h2 class="element-header">Features Triptych</h2>

<r:partial name="demo/wvu-spotlights--triptych" />

<h2 class="element-header">Super Nav</h2>

<r:partial name="demo/wvu-super-nav-example" />

<h2 class="element-header">Horizontal Widgets</h2>

<div class="wvu-section u-full-width u-pms-432-c background">
  <div class="wvu-container">
    <div class="wvu-triptych-combo">
      <div class="wvu-triptych-combo__panel wvu-triptych-combo__panel--spotlights">
        <h2>Spotlights</h2>
      
        <div class="wvu-spotlight">
          <div class="wvu-spotlight__image">
            <a href="<r:page:url />"><img src="<r:image_url name="kids-sitting-by-tulips.jpg" />" /></a>
          </div>
          <div class="wvu-spotlight__copy">
            <h2><r:page:first_non_blank_attr names="alternate_name,name" /></h2>
            <p><r:page:meta_description /></p>
            <a href="<r:page:url />" class="button">Continue to <r:page:first_non_blank_attr names="alternate_name,name" /></a>
          </div>
        </div>
      
        <div class="wvu-spotlight">
          <div class="wvu-spotlight__image">
            <a href="<r:page:url />"><img src="<r:image_url name="kids-sitting-by-tulips.jpg" />" /></a>
          </div>
          <div class="wvu-spotlight__copy">
            <h2><r:page:first_non_blank_attr names="alternate_name,name" /></h2>
            <p><r:page:meta_description /></p>
            <a href="<r:page:url />" class="button">Continue to <r:page:first_non_blank_attr names="alternate_name,name" /></a>
          </div>
        </div>

      </div>
      
      <div class="wvu-triptych-combo__panel wvu-triptych-combo__panel--calendar">
        <h2>
          Events
        </h2>
      
        <r:partial name="patterns/wvu-calendar" />

        <a href="" class="button button--white">All Events</a>

  
      </div>

    </div>
  </div>
</div>

<div class="wvu-container">
  <div class="code-label code-label--html">HTML (views/patterns.html)</div>
  <pre>
  &lt;div class="wvu-section u-full-width u-pms-432-c background"&gt;
    &lt;div class="wvu-container"&gt;
      <span class="u-pms-166-c">&lt;r:partial name="patterns/wvu-diptych-combo" /&gt;</span>
    &lt;/div&gt;
  &lt;/div&gt;</pre>
  <div class="code-label code-label--styles">SCSS (scss/2-modules/modules-dir.scss)</div>
  <pre>
  @import 'wvu-diptych-combo'</pre>
  <div class="code-label code-label--js">JS (views/patterns.html)</div>
  <pre>
  &lt;r:include_javascript name="vendor/calendar-reformat" /&gt;</pre>
</div>


<r:partial name="demo/wvu-spotlights--diptych" />


<h2 class="element-header">Events</h2>

<div class="wvu-section u-full-width u-pms-432-c background">
  <div class="wvu-container">    

    <h2 class="cards__header">
      Events
    </h2>

    <ul class="wvu-calendar wvu-calendar--flex">
      <script language="javascript" src="http://cal.wvu.edu/EventListSyndicator.aspx?type=N&number=5&category=67-0&ihc=y&expire=N&adpid=21&nem=No+events+are+available+that+match+your+request&sortorder=ASC"></script>
    </ul>

    <a class="button button--white">All Events</a>
    
  </div>
</div>

<div class="wvu-container">
  <div class="code-label code-label--html">HTML (views/patterns.html)</div>
  <pre>
  &lt;div class="wvu-section u-full-width u-pms-432-c background"&gt;
    &lt;div class="wvu-container"&gt;
      &lt;h2&gt;Events&lt;/h2&gt;
      <span class="u-pms-166-c">&lt;r:partial name="patterns/wvu-calendar" /&gt;</span>
      &lt;a class="button button--white"&gt;All Events&lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;</pre>
  <div class="code-label code-label--styles">SCSS (scss/2-modules/modules-dir.scss)</div>
  <pre>
  @import 'wvu-calendar--flex'</pre>
  <div class="code-label code-label--js">JS (views/patterns.html)</div>
  <pre>
  &lt;r:include_javascript name="vendor/calendar-reformat" /&gt;</pre>
</div>

<h2 class="element-header">Quicklinks</h2>

<div class="wvu-section u-full-width u-pms-432-c background">
  <div class="wvu-container">
    <h2>
      Quicklinks
    </h2>
    <div class="wvu-quicklinks wvu-quicklinks--flex">
      <ul>
        <li><a href="">Study Abroad</a></li>
        <li><a href="">Jobs</a></li>
        <li><a href="">Off-campus Summer Program</a></li>
        <li><a href="">Davis College Computing Overview</a></li>
        <li><a href="">Safety</a></li>
        <li><a href="">Fact Sheet</a></li>
        <li><a href="">Research Facts</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="wvu-container">
  <div class="code-label code-label--html">HTML (views/patterns.html)</div>
  <pre>
  &lt;div class="wvu-section u-full-width u-pms-432-c background"&gt;
    &lt;div class="wvu-container"&gt;
      &lt;h2&gt;Quicklinks&lt;/h2&gt;
      <span class="u-pms-166-c">&lt;r:partial name="patterns/wvu-quicklinks" /&gt;</span>
    &lt;/div&gt;
  &lt;/div&gt;</pre>
  <div class="code-label code-label--styles">SCSS (scss/2-modules/modules-dir.scss)</div>
  <pre>
  @import 'wvu-quicklinks--flex'</pre>
</div>

<h2 class="element-header">Social Media Links</h2>

<div class="wvu-section u-full-width u-black background">
  <div class="wvu-container">
    <r:partial name="demo/wvu-social-media-icons" />
  </div>
</div>

<div class="wvu-container">
  <div class="code-label code-label--html">HTML (views/patterns.html)</div>
  <pre>
  &lt;div class="wvu-section u-full-width u-black background"&gt;
    &lt;div class="wvu-container"&gt;
      <span class="u-pms-166-c">&lt;r:partial name="patterns/wvu-social-media-icons" /&gt;</span>
    &lt;/div&gt;
  &lt;/div&gt;</pre>
  <div class="code-label code-label--styles">SCSS (scss/2-modules/modules-dir.scss)</div>
  <pre>
  @import 'wvu-social-media-icons'</pre>
</div>

