<div class="diversity-social u-full-width">
  <div class="container">
    <ul class="sixteen columns">
      <li><a href="https://www.facebook.com/Diversitywvu" title="Like us on Facebook"  class="diversity-social__icon--facebook"><span class="visuallyhidden">Like us on Facebook</span></a></li>
      <li><a href="https://twitter.com/diversitywvu" title="Follow us on Twitter"  class="diversity-social__icon--twitter"><span class="visuallyhidden">Follow us on Twitter</span></a></li>
      <li><a href="http://i.instagram.com/wvudiversity/" title="Follow us on Instagram" class="diversity-social__icon--instagram"><span class="visuallyhidden">Follow us on Instagram</span></a></li>
      <li><a href="http://diversity.wvu.edu/ddei/blog.rss" title="Diversity Blog RSS Feed" class="diversity-social__icon--rss"><span class="visuallyhidden">Diversity Blog RSS Feed</span></a></li>
    </ul>
  </div> <!-- /.container -->
</div> <!-- /.diversity-social -->