<div class="header u-full-width">
  <div class="container">
    <a class="header__logo" href="http://diversity.wvu.edu" data-page-id="1238">Division of Diversity, Equity and Inclusion</a>

    <div class="qlinks-search-container">
      <form id="search-form" class="form-search cf" action="//search.wvu.edu/search" method="get">
        <label class="visuallyhidden focusable" for="q">Search</label>
        <span class="form-search__icon icon-search" aria-hidden="true"></span>
        <input class="form-search__field" id="q" maxlength="256" name="q" placeholder="Search..." type="search" />
        <input class="hidden" id="as_sitesearch" name="as_sitesearch" type="hidden" value="diversity.wvu.edu" />
        <input class="hidden" id="sort" name="sort" type="hidden" value="date:D:L:d1" />
        <input class="hidden" id="output" name="output" type="hidden" value="xml_no_dtd" />
        <input class="hidden" id="ie" name="ie" type="hidden" value="UTF-8" />
        <input class="hidden" id="oe" name="oe" type="hidden" value="UTF-8" />
        <input class="hidden" id="proxystylesheet" name="proxystylesheet" type="hidden" value="default_frontend">
        <input class="hidden" id="client" name="client" type="hidden" value="default_frontend" />
        <input class="form-search__submit" name="btnG" type="submit" value="Search" />
      </form>

      <ul id="js-quicklinks" class="quicklinks how-do-i">
        <li>
          <a href="#not-an-id">How do I?</a>
          <r:editable_region name="quicklinks" scope="site" /> <!-- Quicklinks HTML Structure: http://pastie.org/9179559 -->
        </li>
      </ul>
    </div> <!-- /.qlinks-search-container -->

  </div> <!-- /.container -->
</div> <!-- /.u-full-width -->