<div class="nav-department u-full-width">
  <div class="container">
    <nav class="nav-department__main nav-collapse sixteen columns" role="navigation">
      <ul>
        <li><a href="http://diversity.wvu.edu" data-page-id="1238">Home</a></li>
        <li><a href="http://diversity.wvu.edu/ea" data-page-id="1545">Equity Assurance</a></li>
        <li><a href="http://accessibilityservices.wvu.edu" data-page-id="1229">Office of Accessibility Services</a></li>
        <li><a href="http://diversity.wvu.edu/aa-eo" data-page-id="1233">Affirmative Action / Equal Opportunity</a></li>
        <li><a href="http://diversity.wvu.edu/diversity-initiatives" data-page-id="1221">Diversity Initiatives</a></li>
        <li><a href="http://diversity.wvu.edu/ea/file-a-complaint" data-page-id="2164">File a Complaint</a></li>
      </ul>
    </nav>
  </div> <!-- /.container -->
</div> <!-- /.nav-department -->

<a href="http://diversity.wvu.edu/ea/file-a-complaint" data-page-id="2164" class="sexual-harassment-claims"><span class="visuallyhidden">Sexual Harassment Claims</span></a>

<r:comment>
<!-- Old autonav: <r:site_menu active_class="nav-department__main--active" /> -->
<!-- Removed because the Office of Accessibility Services needs its hardcoded. -->
</r:comment>