<div class="line-behind-text">
  <h2 class="element-header">WVU Masthead Combo College</h2>
</div>

<div class="wvu-masthead">
  <div class="wvu-masthead__container">
    <a class="wvu-masthead__logo wvu-masthead__logo_two-line-lockup" href="http://www.wvu.edu/"><span class="wvu-masthead__university">West Virginia University</span> <span class="wvu-masthead__title">Benjamin M. Statler College of <br>Engineering and Mineral Resources</span></a>
    
    <div class="wvu-masthead__search-bar">
      <div class="wvu-masthead__search-and-submit">
        <input class="wvu-masthead__search-box" type="search" placeholder="Enter Search" />
        <button class="wvu-masthead__search-button" type="submit">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
        </button>
      </div>
      <div class="wvu-masthead__search-type"><input type="radio"> Search this site <input type="radio"> Search WVU</div>
    </div>
    
  </div> <!-- /.wvu-masthead-container -->
</div> <!-- /.wvu-masthead --> 

<div class="line-behind-text">
  <h2 class="element-header">WVU Masthead Combo College</h2>
</div>

<div class="wvu-masthead">
  <div class="wvu-masthead__container">
    <a class="wvu-masthead__logo" href="http://www.wvu.edu/"><span class="wvu-masthead__university">West Virginia University</span> Reed College of Media</a>
    
    <div class="wvu-masthead__search-bar">
      <div class="wvu-masthead__search-and-submit">
        <input class="wvu-masthead__search-box" type="search" placeholder="Enter Search" />
        <button class="wvu-masthead__search-button" type="submit">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
        </button>
      </div>
      <div class="wvu-masthead__search-type"><input type="radio"> Search this site <input type="radio"> Search WVU</div>
    </div>
  </div> <!-- /.wvu-masthead__container -->
</div> <!-- /.wvu-masthead --> 

<div class="line-behind-text">
  <h2 class="element-header">WVU Masthead Combo Department</h2>
</div>

<div class="wvu-masthead">
  <div class="wvu-masthead__container">
    <a class="wvu-masthead__logo" href="http://www.wvu.edu/"><span class="wvu-masthead__university">West Virginia University</span> Department of English</a>
    
    <a href="" class="wvu-masthead__college-link wvu-gold background">Eberly College of Arts and Sciences</a>
    
    <div class="wvu-masthead__search-bar">
      <div class="wvu-masthead__search-and-submit">
        <input class="wvu-masthead__search-box" type="search" placeholder="Enter Search" />
        <button class="wvu-masthead__search-button" type="submit">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
        </button>
      </div>
      <div class="wvu-masthead__search-type"><input type="radio"> Search this site <input type="radio"> Search WVU</div>
    </div>
    
  </div> <!-- /.wvu-masthead__container -->
</div> <!-- /.wvu-masthead --> 

<div class="line-behind-text">
  <h2 class="element-header">WVU Masthead Combo Gold Background</h2>
</div>

<div class="wvu-masthead wvu-masthead_gold">
  <div class="wvu-masthead__container">
    <a class="wvu-masthead__logo" href="http://www.wvu.edu/"><span class="wvu-masthead__university">West Virginia University</span> Center for Black Culture</a>
    
    <div class="wvu-masthead__search-bar">
      <div class="wvu-masthead__search-and-submit">
        <input class="wvu-masthead__search-box" type="search" placeholder="Enter Search" />
        <button class="wvu-masthead__search-button" type="submit">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
        </button>
      </div>
      <div class="wvu-masthead__search-type"><input type="radio"> Search this site <input type="radio"> Search WVU</div>
    </div>
    
  </div> <!-- /.wvu-masthead__container -->
</div> <!-- /.wvu-masthead --> 

<div class="line-behind-text">
  <h2 class="element-header">WVU Masthead Combo White Background</h2>
</div>

<div class="wvu-masthead wvu-masthead_white">
  <div class="wvu-masthead__container">
    <a class="wvu-masthead__logo" href="http://www.wvu.edu/"><span class="wvu-masthead__university">West Virginia University</span> Administration and Finance</a>
    
    <div class="wvu-masthead__search-bar">
      <div class="wvu-masthead__search-and-submit">
        <input class="wvu-masthead__search-box" type="search" placeholder="Enter Search" />
        <button class="wvu-masthead__search-button" type="submit">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
        </button>
      </div>
      <div class="wvu-masthead__search-type"><input type="radio"> Search this site <input type="radio"> Search WVU</div>
    </div>
    
  </div> <!-- /.masthead-container -->
</div> <!-- /.wvu-masthead --> 