<footer class="wvu-footer wvu-footer--pms-warm-gray-3">
  <div class="footer__container">
    <div class="wvu-footer__map">
      &nbsp;
    </div>
    <div class="wvu-footer__contact-us">
      <h3>Contact Us</h3>
      <address>
        1085 Van Voorhis Road Suite 250 <br>
        P.O. Box 6202<br>
        Morgantown, WV 26506-6202<br>
        Phone: 304.293.5600<br>
        Fax: 304.293.8279<br>
        Email: <a href="mailto:diversity@mail.wvu.edu">diversity@mail.wvu.edu</a>
      </address>
    </div>
    <div class="wvu-footer__wvu-credits">
      <p><a href="">Accreditations<a><br>
        <a href="">Web Standards</a><br>
        <a href="">Questions or Comments?</a><br>
  &copy; 2015 West Virginia University.<br> 
  West Virginia University is an Equal Opportunity/Affirmative Action institution.</p>
    </div>

    <div class="wvu-footer__wvu-icons">
      <ul class="wvu-footer__wvu-links">
        <li><a href="http://www.wvu.edu/SiteIndex/">A-Z Index</a></li>
        <li><a href="http://www.wvu.edu/CampusMap/">Campus Map</a></li>
        <li><a href="http://www.hr.wvu.edu/wvu_jobs">Jobs</a></li>
        <li><a href="http://directory.wvu.edu/">Directory</a></li>
        <li><a href="http://www.wvuf.org/">Give</a></li>
        <li><a href="http://myaccess.wvu.edu/">MyAccess</a></li>
        <li><a href="http://careerservices.wvu.edu/mountaineertraklogins">MountaineerTRAK</a></li>
        <li><a href="http://emergency.wvu.edu/alert/">WVU Alert</a></li>
        <li><a href="http://wvutoday.wvu.edu">WVU Today</a></li>
        <li><a href="http://mix.wvu.edu/">MIX</a></li>
      </ul>

      <ul class="wvu-footer__wvu-social">
        <li><a class="wvu-facebook" href="http://www.facebook.com/wvumountaineers">WVU on Facebook</a></li>
        <li><a class="wvu-twitter" href="https://twitter.com/WestVirginiaU/">WVU on Twitter</a></li>
        <li><a class="wvu-youtube" href="http://videos.wvu.edu">WVU on YouTube</a></li>
      </ul>
    </div> <!-- /.footer__wvu-icons -->
  </div>
</div>