.wvu-nav,
.wvu-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Dropdowns */
.wvu-nav ul {
  display: none;
  background: $black;
  @include mq($bp-medium) {
    display: block;
  	position: absolute;
  	top: 3.45em;
  	left: -9999px;
    z-index: 9999;
  	opacity: 0;

  	-webkit-transition: 0.1s linear opacity;

  	min-width: 150px;
  }
}

.wvu-nav li {
	float: left;
	position: relative;
}

.wvu-nav li:hover ul,
.wvu-nav li:focus ul,
ul.show-menu {
	left: 0;
	opacity: 0.99;
}

.wvu-nav ul li {
	float: none;
	position: static;
}

.wvu-nav ul a {
	float: none;
	display: block;
	color: #FFF;
	font-size: 12px;
	text-shadow: none;
	border: 1px solid #222;
	border-width: 0 0 1px;

	-webkit-transition: 0.1s linear all;
}

.wvu-nav ul a:hover,
.wvu-nav ul a:focus {
	background: #EEE;
	color: #333;
	text-shadow: none;
}

p { clear: both; }