.breadcrumbs { 
  li { float: left; }
}

.breadcrumbs--white {
  a { color: white; }
}

.breadcrumbs__container { width: 100%; padding: 1em 0; position: relative; }

.breadcrumbs__links { position: absolute; top: 0; }

.breadcrumbs__breadcrumb { float: left; font-size: .8em; margin-right: 0.5em; }