.cards { padding: 4em 1em; 
  @include mq($bp-xlarge) { padding: 4em 0; }
}

.cards__card { font-size: 0.8em; 
  div + h2 { margin-top: 0.5em; }
}

.cards__copy { margin-bottom: 1.5em; }

.cards--black { background: $black; 
  h1, h2, h3, h4, h5, h6, a { color: white; }
}

.cards--pms-warm-gray-3 { background: $pms-warm-gray-3; }

.cards--pms-429-c { background: $pms-429-c; }

.cards--pms-432-c { background: $pms-432-c; color: white; 
  h1, h2, h3, h4, h5, h6, a { color: white; }
}

.cards--pms-warm-gray-11 { background: $pms-warm-gray-11; color: white; 
  h1, h2, h3, h4, h5, h6, a { color: white; }
}

.cards__spotlight-image { margin-top: 0.35em; }

.cards__spotlight { float: left; margin-bottom: 1.5em; }

.cards__spotlight-header { font-size: 1.2em; line-height: 1.5em; margin-bottom: 0.25em; }

.cards__spotlight-copy { margin-bottom: 0.65em; }

.cards__copy-wrapper {
  @include mq($bp-medium) {
    padding-left: 0.75em;
  }
}

.cards__copy--quicklink {
  padding-left: 1em;
  background: url(../images/diagonal-gold.svg) no-repeat 0 7px;
  background-size: 20px;
}

.cards__social-media-icons { 
  li { float: left; width: 3em; margin-right: 5px; }
}