.cards { padding: 5em 1em; 
  @include media($bp-xlarge) { padding: 5em 0; }
}

.cards__card { font-size: 0.8em; 
  div + h2 { margin-top: 0.5em; }
}

.cards--pms-warm-gray-3 { background: $pms-warm-gray-3; }

.cards--pms-429-c { background: $pms-429-c; }

.cards--pms-432-c { background: $pms-432-c; color: white; 
  h1, h2, h3, h4, h5, h6, a { color: white; }
}

.cards--pms-warm-gray-11 { background: $pms-warm-gray-11; color: white; 
  h1, h2, h3, h4, h5, h6, a { color: white; }
}