.cards { padding: 4em 1em; 
  @include mq($bp-xlarge) { padding: 4em 0; }
}

.cards--horizontal__card { font-size: 0.8em; }

.cards__card { padding-bottom: 3em;  
  h2 { font-size: 1.75em; }
  div + h2 { margin-top: 0.5em; }
  @include mq($bp-medium) { padding-bottom: 0; }
}

.cards__copy { margin-bottom: 1.5em; }

.cards--black { background: $black; 
  h1, h2, h3, h4, h5, h6, a { color: white; }
}

.cards--pms-warm-gray-3 { background: $pms-warm-gray-3; }

.cards--pms-429-c { background: $pms-429-c; 
  h1, h2, h3, h4, h5, h6, a { color: $black; }
}

.cards--pms-432-c { background: $pms-432-c; color: white; 
  h1, h2, h3, h4, h5, h6, a { color: white; }
}

.cards--pms-warm-gray-11 { background: $pms-warm-gray-11; color: white; 
  h1, h2, h3, h4, h5, h6, a { color: white; }
}

.cards__spotlight-image { margin-top: 0.35em; }

.cards__spotlight { float: left; margin-bottom: 1.5em; }

.cards__spotlight-header { font-size: 1.2em; line-height: 1.5em; margin-bottom: 0.25em; }

.cards__spotlight-copy { margin-bottom: 0.65em; }

.cards__copy-wrapper {
  @include mq($bp-medium) {
    padding-left: 0.75em;
  }
}

.cards__card--supernav { font-size: 0.8em; }

.cards__card--events, .cards--horizontal__card--events { 
  ul {
    li { margin-bottom: 0.5em; display: inline-block; 
      .eventDate { float: left; margin-right: 4%; width: 10%; text-align: center; padding-bottom: 6px; border-radius: 6px; 
        @include mq($bp-large) { border: 1px solid $pms-warm-gray-7; }
      }
      .calEventMonth { font-size: .8em; text-transform: uppercase; }
      .calEventDay { display: block; font-size: 1.5em; line-height: .8em; clear: both; }
      .eventInfo { float: left; width: 86%;}
      .eventTime { font-weight: bold; }
      .eventName { display: block; }
    }
  }
}

.cards--horizontal__card--events { 
  ul { 
    li { width: 100%; }
  }
}

.cards--vertical__card--events { 
  ul { display: flex; flex-flow: row wrap; }
}

.cards__copy--quicklink {
  padding-left: 1em;
  background: url(../images/diagonal-gold.svg) no-repeat 0 7px;
  background-size: 20px;
}

.cards__social-media-icons { 
  li { float: left; width: 3em; margin-right: 5px; }
}

.cards--vertical__card--quicklinks {
  display: flex;
  flex-flow: row wrap;
}

.cards--vertical__copy--quicklink {
  padding: 0.5em 0.75em;
  width: 20%;
  float: left;
  box-sizing: border-box;
  margin: auto;
  border-right: 2px solid $pms-432-c;
  background: $black;
  a { color: white; }
}