.color-palette {
  .color-palette__color-container { color: white; margin-bottom: $gutter; @include omega(8n);
    .color { border-radius: 50%; padding: 50%; height: 0; }
    .black { background: black; }
    .dark-gray { background: $dark-gray; }
    .middle-gray { background: $middle-gray; }
    .warm-gray-11 { background: $warm-gray-11; }
    .warm-gray-7 { background: $warm-gray-7; }
    .warm-gray-3 { background: $warm-gray-3; }
  }
}