.hero-w-overlay {
  $hero-background-top: $wvu-blue; 
  $hero-background-bottom: $pms-300-c;
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: '../images/tireless.jpg';
  $diagonal-line-gold: '../images/diagonal-gold.svg';

  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  

  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 4em;
  padding-top: 4em;

  .hero-logo img {
    height: 3em;
    margin-bottom: 2.5em;
  }
  
  .hero-inner-wrapper {
    @include outer-container;
  }

  .hero-inner {
    @include span-columns(6);
    @include clearfix;
    padding: 2em;
    margin: auto;
    color: $hero-color;
    @include background(linear-gradient(rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%));

    button {
      @include button(simple, $base-background-color);
      font-size: $base-font-size;
      outline: none;
    }

    .hero-copy { 
      
      h1 {

      }

      p {

        margin-bottom: 3em; 
        font-weight: bold;
        line-height: 1.4em;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}
