$hero-image: '../images/coopers-rock.jpg';
$diagonal-line-gold: '../images/gold-diagonal-transparent.svg';

.hero {

  color: white;
  background-color: $wvu-blue;
  background-image: url($hero-image);
  background-position: 75% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 4em;
  padding-top: 4em;
  text-shadow: 1px 1px 1px #000000;
  
  @include mq($bp-large) { background-position: top; }
  
}

.hero__inner { padding: 3em;
  @include mq($bp-xlarge) {
    padding: 3em 0;
  }
}

.hero__text { margin-bottom: 3em; font-weight: bold; 
  @include mq($bp-medium) { max-width: 40%; }
}

.hero--medium-shout { padding-bottom: 2em; padding-top: 2em; }

.hero--long-shout { padding-bottom: 2em; padding-top: 2em; }

.hero--diagonal {
  background-image: url($hero-image);
  background-repeat: no-repeat;
  background-position: 75% 50%;
  background-size: cover;
  @include mq($bp-large) {
    background-image: url($diagonal-line-gold), url($hero-image);
    background-size: 500px, cover;
    background-position: 59% -209px, center top;
  }
}

.hero--traditional__heading { font-family: $iowan; font-weight: normal; }

.hero--traditional__heading--white { color: white; }

.hero--narrow-audience__heading { font-family: $iowan-italic; font-weight: normal; }

.hero--narrow-audience__heading--white { color: white; }

.hero--small-photo { background-image: none; background-color: transparent; text-shadow: none; }

.hero__text--full-width { max-width: 100%; }

.hero--small-photo__copy { color: $black; }

.shout--small-photo { font-size: 3em; color: $wvu-blue;
  @include mq($bp-large) { font-size: 3.5em; }
}