// Intro panels
//==================================================
// Styles for Intro panels

.intro { background: #333; margin-bottom: 36px; color: #fff;
  @include mq($bp-medium) {
    max-height: 480px;
    overflow: hidden;
  }
}

.wvu-tabs {
  ul { list-style-type: none; padding-left: 0; padding-top: 10px;
  
    @include mq($bp-large) {
      padding-top: 30px;
    } 
  
    li { font-size: 0.8em; padding: 1em 0; float: left; clear: both; width: 33.33333%;
      @include mq($bp-large) {
        width: 100%; border-bottom: 1px solid #eee;
      }
      h2 { font-size: 1.75em; margin-bottom: 0.5em; margin-top: 0;
      }
      a { width: 100%; display: block; float: left; border: 0; }
      @include mq($bp-large) {
        margin-bottom: 20px;
      }
    }
  }
}

.wvu-tabs__content {
  float: left;
}