// Intro panels
//==================================================
// Styles for Intro panels

.intro { background: #333; margin-bottom: 36px; color: #fff;
  @include mq($bp-medium) {
    max-height: 480px;
    overflow: hidden;
  }
}

.wvu-tabs {
  ul { list-style-type: none; padding-left: 0; padding-top: 10px;
  
    @include mq($bp-large) {
      padding-top: 30px;
    } 
  
    li { font-size: 0.8em; margin-bottom: 9px; float: left; clear: both; width: 100%; border-bottom: 1px solid #eee;
      h2 { font-size: 1.75em; margin-bottom: 0.5em;
      }
      a { width: 100%; display: block; float: left; border: 0; }
      @include mq($bp-large) {
        margin-bottom: 20px;
      }
    }
  }
}

.wvu-tabs__content { 
  img { min-width: 100%; }
}