
<div class="type-system backpage">
  
  <article class="type-system-geometric">
    <h1 class="shout wvu-blue">Mountaineers <br><span class="wvu-gold">Go First.</span></h1>
    
    <div class="article-body">
      <h1>Lorem ipsum dolor sit amet</h1>
      <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur a, ullam, voluptatum.</h2>
      <h2 class="iowan">Volum explantent</h2>
      <p><span>Lorem ipsum dolor sit amet</span>, consectetur adipisicing elit. Consequatur a, ullam, voluptatum incidunt neque doloremque vel inventore distinctio laudantium harum</a> illo quam nulla dolor alias iure impedit! Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit.
        <a href="javascript:void(0)" class="read-more">Read More <span>&rsaquo;</span></a>
      </p>
      <h3>Subheading lorem</h3>
      <p><span>Consequatur ullam, voluptatum</span> incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit. Accusamus. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus.</p>
      <p class="caption iowan">Consequatur ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit. Accusamus. Consequatur, a, ullam, voluptatum incidunt neque porro numquam doloremque vel inventore distinctio laudantium harum illo quam nulla dolor alias iure impedit! Accusamus.</p>
    </div>
    
    <div class="sub-nav">
      <ul>
        <li><a href="">Subnav Item 1</a></li>
        <li><a href="">Subnav Item 1</a>
          <ul>
            <li><a href="">Subnav Item 1</a></li>
            <li><a href="">Subnav Item 1</a></li>
            <li><a href="" class="current-page">Subnav Item 1</a></li>
            <li><a href="">Subnav Item 1 With lots and lots of text, multiple lines of text, etc.</a></li>
            <li><a href="">Subnav Item 1</a></li>
            <li><a href="">Subnav Item 1</a></li>
            <li><a href="">Subnav Item 1</a></li>
          </ul>
        </li>
        <li><a href="">Subnav Item 1 With lots and lots of text, multiple lines of text, etc.</a></li>
        <li><a href="" class="current-page">Subnav Item 1</a></li>
        <li><a href="">Subnav Item 1</a></li>
        <li><a href="">Subnav Item 1</a></li>
        <li><a href="">Subnav Item 1</a></li>
      </ul>
    </div>
  </article>

</div>