<div class="buttons">
  <a href="" class="button wvu-gold">Button</a>
  <a href="" class="button wvu-blue">Button</a>
  <a href="" class="button black">Button</a>
  <a href="" class="button pms-432-c">Button</a>
  <a href="" class="button pms-429-c">Button</a>
  <a href="" class="button pms-warm-gray-11">Button</a>
  <a href="" class="button pms-warm-gray-7">Button</a>
  <a href="" class="button pms-warm-gray-3">Button</a>
  <a href="" class="button pms-286-c">Button</a>
  <a href="" class="button pms-300-c">Button</a>
  <a href="" class="button pms-629-c">Button</a>
  <a href="" class="button pms-7554-c">Button</a>
  <a href="" class="button pms-7557-c">Button</a>
  <a href="" class="button pms-144-c">Button</a>
  <a href="" class="button pms-7476-c">Button</a>
  <a href="" class="button pms-5625-c">Button</a>
  <a href="" class="button pms-558-c">Button</a>
  <a href="" class="button pms-180-c">Button</a>
  <a href="" class="button pms-166-c">Button</a>
  
  <br>
  
  <a href="" class="button wvu-gold background">Button</a>
  <a href="" class="button wvu-blue background">Button</a>
  <a href="" class="button black background">Button</a>
  <a href="" class="button pms-432-c background">Button</a>
  <a href="" class="button pms-429-c background">Button</a>
  <a href="" class="button pms-warm-gray-11 background">Button</a>
  <a href="" class="button pms-warm-gray-7 background">Button</a>
  <a href="" class="button pms-warm-gray-3 background">Button</a>
  <a href="" class="button pms-286-c background">Button</a>
  <a href="" class="button pms-300-c background">Button</a>
  <a href="" class="button pms-629-c background">Button</a>
  <a href="" class="button pms-7554-c background">Button</a>
  <a href="" class="button pms-7557-c background">Button</a>
  <a href="" class="button pms-144-c background">Button</a>
  <a href="" class="button pms-7476-c background">Button</a>
  <a href="" class="button pms-5625-c background">Button</a>
  <a href="" class="button pms-558-c background">Button</a>
  <a href="" class="button pms-180-c background">Button</a>
  <a href="" class="button pms-166-c background">Button</a>
  <a href="" class="button pms-115-c background">Button</a>
  
  <br>
  
  <a href="" class="button wvu-blue big">Button</a>
  <a href="" class="button wvu-gold big">Button</a>
  <a href="" class="button wvu-blue big background">Button</a>
  <a href="" class="button wvu-gold big background">Button</a>
  
</div>