<div class="cards">
  <div class="cards__wrapper">
    <div class="cards__card">
      <div class="cards__image">
        <img src="../images/coopers-rock.jpg" alt="">
      </div>
      <h2 class="cards__header">
        Major
      </h2>
      <p class="cards__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      <a href="" class="button">Major at WVU</a>
    </div>

    <div class="cards__card cards__card--feature-story">
      <div class="cards__image">
        <img src="../images/girl-pointing.jpg" alt="">
      </div>
      <h2 class="cards__header">
        Feature Story
      </h2>
      <p class="cards__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      <a href="" class="button">Major at WVU</a>
    </div>

    <div class="cards__card">
      <div class="cards__image">
        <img src="../images/tireless.jpg" alt="">
      </div>
      <h2 class="cards__header">
        Story with Video
      </h2>
      <p class="cards__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      <a href="" class="button">Major at WVU</a>
    </div>
  </div>
</div>

<div class="cards cards--pms-warm-gray-3">
  <div class="cards__wrapper">
    <div class="cards__card major">
      <div class="cards__image">
        <img src="../images/coopers-rock.jpg" alt="">
      </div>
      <h2 class="card__header">
        Major
      </h2>
  
      <p class="cards__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      <a href="" class="button">Major at WVU</a>


    </div>

    <div class="cards__card feature-story">

      <div class="cards__image">
        <img src="../images/girl-pointing.jpg" alt="">
      </div>
      <h2 class="card__header">
        Feature Story
      </h2>
      <p class="cards__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      <a href="" class="button">Major at WVU</a>
    </div>

    <div class="cards__card">
      <div class="cards__image">
        <img src="../images/tireless.jpg" alt="">
      </div>
      <h2 class="card__header">
        Story with Video
      </h2>
      <p class="cards__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      <a href="" class="button">Major at WVU</a>

    </div>
  </div>
</div>

<div class="cards cards--pms-429-c">
  <div class="cards__wrapper">
    <div class="cards__card major">
      <div class="cards__image">
        <img src="../images/coopers-rock.jpg" alt="">
      </div>
      <h2 class="card__header">
        Major
      </h2>
      <p class="cards__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      <a href="" class="button">Major at WVU</a>

    </div>

    <div class="cards__card feature-story">

      <div class="cards__image">
        <img src="../images/girl-pointing.jpg" alt="">
      </div>
      <h2 class="card__header">
        Feature Story
      </h2>
      <p class="cards__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      <a href="" class="button">Major at WVU</a>
    </div>

    <div class="cards__card">
      <div class="cards__image">
        <img src="../images/tireless.jpg" alt="">
      </div>
      <h2 class="card__header">
        Story with Video
      </h2>
      <p class="cards__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      <a href="" class="button">Major at WVU</a>

    </div>
  </div>
</div>

<div class="cards cards--pms-432-c">
  <div class="cards__wrapper">
    <div class="cards__card cards__card--spotlights">
      <r:partial name="spotlights" />
    </div>
    <div class="cards__card calendar-feed">
      <h2 class="card__header">
        Calendar
      </h2>
      <p class="cards__copy">
        <ul class="cal">
          <script language="javascript" src="http://cal.wvu.edu/EventListSyndicator.aspx?type=N&number=5&category=67-0&ihc=y&expire=N&adpid=21&nem=No+events+are+available+that+match+your+request&sortorder=ASC"></script>
        </ul>
        
      </p>
      <a href="" class="button button--white">Major at WVU</a>
  
    </div>
    
    <div class="cards__card cards__card--quicklinks">

      <h2 class="card__header">
        Quicklinks
      </h2>
      <ul class="cards__copy">
        <li class="cards__copy--quicklink"><a href="">Study Abroad</a></li>
        <li class="cards__copy--quicklink"><a href="">Jobs</a></li>
        <li class="cards__copy--quicklink"><a href="">Off-campus Summer Program</a></li>
        <li class="cards__copy--quicklink"><a href="">Davis College Computing Overview</a></li>
        <li class="cards__copy--quicklink"><a href="">Safety</a></li>
        <li class="cards__copy--quicklink"><a href="">Fact Sheet</a></li>
        <li class="cards__copy--quicklink"><a href="">Research Facts</a></li>
      </ul>
      <a href="" class="button button--white">Major at WVU</a>
  
    </div>
  </div>
</div>

<div class="cards cards--black">
  <div class="cards__wrapper">
    <div class="cards__card cards__card--follow-us">
      <h2 class="card__header">
        Follow Us
      </h2>
      <p class="cards__copy">
      <r:partial name="social-media-icons" />
      </p>
    
    </div>
  </div>
</div>

<div class="cards cards--pms-warm-gray-11">

  <div class="cards__wrapper">
    <div class="cards__card calendar-feed">
      <h2 class="card__header">
        Calendar
      </h2>
      <p class="cards__copy">
        <ul class="cal">
          <script language="javascript" src="http://cal.wvu.edu/EventListSyndicator.aspx?type=N&number=5&category=67-0&ihc=y&expire=N&adpid=21&nem=No+events+are+available+that+match+your+request&sortorder=ASC"></script>
        </ul>
        
      </p>
      <a href="" class="button button--white">Full Calendar</a>
  
    </div>
  
    <div class="cards__card cards__card--spotlights">
      <h2 class="card__header">
        Spotlights
      </h2>
      <p class="cards__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      <a href="" class="button button--white">Major at WVU</a>
  
    </div>
    <div class="cards__card cards__card--quicklinks">

      <h2 class="card__header">
        Quicklinks
      </h2>
      <ul class="cards__copy">
        <li class="cards__copy--quicklink"><a href="">Study Abroad</a></li>
        <li class="cards__copy--quicklink"><a href="">Jobs</a></li>
        <li class="cards__copy--quicklink"><a href="">Off-campus Summer Program</a></li>
        <li class="cards__copy--quicklink"><a href="">Davis College Computing Overview</a></li>
        <li class="cards__copy--quicklink"><a href="">Safety</a></li>
        <li class="cards__copy--quicklink"><a href="">Fact Sheet</a></li>
        <li class="cards__copy--quicklink"><a href="">Research Facts</a></li>
      </ul>
      <a href="" class="button button--white">Major at WVU</a>
  
    </div>
  </div>
</div>