

<h2 class="element-header">Features</h2>

<div class="cards cards--pms-432-c">

  <div class="cards__wrapper">
    <div class="cards__card cards__card--full-width">

      <div class="cards__spotlight cards--vertical__spotlight">
        <div class="cards__spotlight-image">
          <a href=""><img src="../images/kids-sitting-by-tulips.jpg" alt="Kids sitting by tulips." /></a>
        </div>
        <div class="cards__copy-wrapper">
          <h3 class="cards__spotlight-header">Spotlight 1</h3>
          <p class="cards__spotlight-copy">Lorem ipsum dolor sit amet, consectetur adipiscing. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
          <a href="" class="button button--white">Read More</a>
        </div>
      </div>
      <div class="cards__spotlight cards--vertical__spotlight">
        <div class="cards__spotlight-image">
          <a href=""><img src="../images/kids-sitting-by-tulips.jpg" alt="Kids sitting by tulips." /></a>
        </div>
        <div class="cards__copy-wrapper">
          <h3 class="cards__spotlight-header">Spotlight 1</h3>
          <p class="cards__spotlight-copy">Lorem ipsum dolor sit amet, consectetur adipiscing. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
          <a href="" class="button button--white">Read More</a>
        </div>
      </div>
      
    </div>

  </div>
</div>

<h2 class="element-header">Events</h2>

<div class="cards cards--pms-432-c">
  <div class="cards__wrapper">
    
    <div class="cards__card cards__card--full-width">
      <h2 class="cards__header">
        Events
      </h2>

      <ul class="cards__calendar cards__calendar--flex">
        <script language="javascript" src="http://cal.wvu.edu/EventListSyndicator.aspx?type=N&number=5&category=67-0&ihc=y&expire=N&adpid=21&nem=No+events+are+available+that+match+your+request&sortorder=ASC"></script>
      </ul>
        
      <a href="" class="button button--white">All Events</a>
  
    </div>
    
  </div>
</div>

<h2 class="element-header">Quicklinks</h2>

<div class="cards cards--pms-432-c">
  <div class="cards__wrapper">
    
    <div class="cards__card cards__card--full-width">

      <div class="cards__quicklnks-container">
        <h2 class="cards__header">
          Quicklinks
        </h2>
        <ul class="cards__quicklinks cards__quicklinks--flex">
          <li class="cards__quicklink cards__quicklink--flex"><a href="">Study Abroad</a></li>
          <li class="cards__quicklink cards__quicklink--flex"><a href="">Jobs</a></li>
          <li class="cards__quicklink cards__quicklink--flex"><a href="">Off-campus Summer Program</a></li>
          <li class="cards__quicklink cards__quicklink--flex"><a href="">Davis College Computing Overview</a></li>
          <li class="cards__quicklink cards__quicklink--flex"><a href="">Safety</a></li>
          <li class="cards__quicklink cards__quicklink--flex"><a href="">Fact Sheet</a></li>
          <li class="cards__quicklink cards__quicklink--flex"><a href="">Research Facts</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>

<h2 class="element-header">Social Media Links</h2>

<div class="cards cards--black">
  <div class="cards__wrapper">
    <div class="cards__card cards__card--follow-us">
      <r:partial name="social-media-icons" />
    </div>
  </div>
</div>