<div class="color-palette">
  <h2>Primary</h2>
  <h2>Neutral</h2>
  <div class="color-palette__color-container">
    <div class="black color">
      Black
    </div>
  </div>
  <div class="color-palette__color-container">
    <div class="dark-gray color">
      Dark Gray
    </div>
  </div>
  <div class="color-palette__color-container">
    <div class="middle-gray color">
      Middle Gray
    </div>
  </div>
  <div class="color-palette__color-container">
    <div class="warm-gray-11 color">
      Warm Gray 11
    </div>
  </div>
  <div class="color-palette__color-container">
    <div class="warm-gray-7 color">
      Warm Gray 7
    </div>
  </div>
  <div class="color-palette__color-container">
    <div class="warm-gray-3 color">
      Warm Gray 3
    </div>
  </div>
  <h2>Accent</h2>
</div>