<r:comment>
  <!-- NOTE: Blogfeed needs .current-events__rss-snippet and .u-arrow-ul--right -->
</r:comment>

<div class="current-events u-full-width u-padded">
  <div class="container">
    <div class="current-events__twitter colorize__twitter one-third column">
      <div class="current-events__header-wrap">
        <h3 class="current-events__header"><span class="current-events__icon current-events__icon--twitter icon icon-twitter" aria-hidden="true"></span> <a href="http://twitter.com/DiversityWVU">@DiversityWVU</a> on Twitter</h3>
      </div> <!-- /.current-events__header-wrap -->
      <a class="twitter-timeline"  href="https://twitter.com/DiversityWVU"  data-widget-id="370953785314525184" height="465">Tweets by @DiversityWVU</a>
      <noscript><p>Oops! Looks like you need to enable javacript to view this Twitter stream. Alternatively, click the link above.</p></noscript>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div> <!-- /.current-events__twitter -->

    <div id="js-current-events__calendar" class="current-events__calendar colorize__calendar one-third column">
      <div class="current-events__header-wrap">
        <h3 class="current-events__header twelve columns alpha omega"><span class="current-events__icon icon icon-calendar" aria-hidden="true"></span> Important Dates &amp; Events</h3>
        <a href="http://cal.wvu.edu/RSSSyndicator.aspx?category=21-0&location=&type=N&binary=Y" class="current-events__rss">RSS <span class="current-events__icon--rss icon icon-rss" aria-hidden="true"></span></a>
      </div> <!-- /.current-events__header-wrap -->
      <script language="javascript" src="//cal.wvu.edu/EventListSyndicator.aspx?type=N&number=3&category=21-0&expire=Y&adpid=24&nem=No+events+are+available+that+match+your+request&sortorder=ASC"></script>
      <noscript><p>Oops! Looks like you need to enable javacript to view calendar events. Alternatively, click the link below.</p></noscript>
      <a class="current-events__calendar-button btn btn--inverse" href="http://cal.wvu.edu/default.aspx?type=&view=Grid&category=21-0"><span class="icon icon-calendar" aria-hidden="true"></span> See Full Event Calendar</a>
    </div> <!-- /.current-events__calendar -->

    <div class="current-events__news colorize__news one-third column">
      <div class="current-events__header-wrap">
        <h3 class="current-events__header"><span class="current-events__icon icon icon-newspaper" aria-hidden="true"></span> News</h3>
        <a href="http://diversity.wvu.edu/ddei/blog.rss" class="current-events__rss">RSS <span class="current-events__icon--rss icon icon-rss" aria-hidden="true"></span></a>
      </div> <!-- /.current-events__header-wrap -->
      <r:editable_region name="news" />
      <a href="http://diversity.wvu.edu/ddei/blog" data-page-id="2227" class="btn btn--inverse"><span class="icon icon-newspaper" aria-hidden="true"></span> Read our blog</a>
      <!-- Slate 1 RSS Feed: http://diversity.wvu.edu/news/rss -->
    </div> <!-- /.current-events__news -->
  </div> <!-- /.container -->
</div> <!-- /.u-full-width -->