<main class="division-summary u-full-width u-padded" role="main">
  <div class="container">

      <div class="offset-by-four twelve columns">
        <h2 class="division-summary__header"><r:editable_region name="division-summary__header" type="simple">Division Name</r:editable_region></h2>
        <div class="division-summary__main">
          <r:editable_region name="division-summary__main" />
        </div> <!-- /.division-summary__main -->
      </div> <!-- /.twelve.columns -->

  </div> <!-- /.container -->
</main> <!-- /.division-summary  -->

<div class="department-summary__wrap u-full-width u-padded">
  <div class="container">

    <div class="department-summary department-summary__how-do-i seven columns">
      <h2 class="department-summary__header department-summary__header--how-do-i"><r:editable_region name="department-summary__header--how-do-i" type="simple">Help me find information about Diversity</r:editable_region></h2>
      <div class="department-summary__main department-summary__how-do-i--main">
        <r:editable_region name="department-summary__main--how-do-i" />
      </div> <!-- /.department-summary__main -->
    </div> <!-- /.department-summary -->

    <div class="department-summary colorize__di eight columns">
      <h2 class="department-summary__header"><r:editable_region name="department-summary__header--di">Department Name</r:editable_region></h2>
      <div class="department-summary__main">
        <r:editable_region name="department-summary__main--di" />
      </div> <!-- /.department-summary__main -->
    </div> <!-- /.department-summary -->

    <div class="department-summary colorize__oas eight columns">
      <h2 class="department-summary__header"><r:editable_region name="department-summary__header--oas">Department Name</r:editable_region></h2>
      <div class="department-summary__main">
        <r:editable_region name="department-summary__main--oas" />
      </div> <!-- /.department-summary__main -->
    </div> <!-- /.department-summary -->

    <div class="department-summary colorize__ea eight columns">
      <h2 class="department-summary__header"><r:editable_region name="department-summary__header--ea">Department Name</r:editable_region></h2>
      <div class="department-summary__main">
        <r:editable_region name="department-summary__main--ea" />
      </div> <!-- /.department-summary__main -->
    </div> <!-- /.department-summary -->

    <div class="department-summary colorize__aaeo eight columns">
      <h2 class="department-summary__header"><r:editable_region name="department-summary__header--aa-eo">Department Name</r:editable_region></h2>
      <div class="department-summary__main">
        <r:editable_region name="department-summary__main--aa-eo" />
      </div> <!-- /.department-summary__main -->
    </div> <!-- /.department-summary -->

  </div> <!-- /.container -->
</div> <!-- /.department-summary__wrap -->