<div class="slideshow-wrapper">

  	<div class="flexslider">	
  		<a name="maincontent"></a>
  
  		<ul class="slides">
        <li>
          <div class="hero hero_long-shout">
          	<div class="hero__inner">
          		<div class="hero__copy">
          			<h1 class="shout">The future<br>will be built<br>by those who<br>are willing<br>to get up and<br>go after it.<br></h1>
          			<p>Watch the &ldquo;Jingle Bell Rock&rdquo; holiday greeting from B&E faculty and staff.</p>	
          		</div>
              <button>Watch Video</button>
          	</div>
          </div>
        </li>
        <li>
          <div class="hero hero_long-shout" style="background-image: url(<r:image_url name="dance-header.jpg" />);">
          	<div class="hero__inner">
          		<div class="hero__copy">
          			<h1 class="shout">The future<br>will be built<br>by those who<br>are willing<br>to get up and<br>go after it.<br></h1>
          			<p>Watch the &ldquo;Jingle Bell Rock&rdquo; holiday greeting from B&E faculty and staff.</p>	
          		</div>
              <button>Watch Video</button>
          	</div>
          </div>
        </li>
        <li>
          <div class="hero hero_long-shout" style="background-image: url(<r:image_url name="girl-pointing.jpg" />);">
          	<div class="hero__inner">
          		<div class="hero__copy">
          			<h1 class="shout">The future<br>will be built<br>by those who<br>are willing<br>to get up and<br>go after it.<br></h1>
          			<p>Watch the &ldquo;Jingle Bell Rock&rdquo; holiday greeting from B&E faculty and staff.</p>	
          		</div>
              <button>Watch Video</button>
          	</div>
          </div>
        </li>
        <li>
          <div class="hero hero_long-shout">
          	<div class="hero__inner">
          		<div class="hero__copy">
          			<h1 class="shout">The future<br>will be built<br>by those who<br>are willing<br>to get up and<br>go after it.<br></h1>
          			<p>Watch the &ldquo;Jingle Bell Rock&rdquo; holiday greeting from B&E faculty and staff.</p>	
          		</div>
              <button>Watch Video</button>
          	</div>
          </div>
        </li>
        <li>
          <div class="hero hero_long-shout">
          	<div class="hero__inner">
          		<div class="hero__copy">
          			<h1 class="shout">The future<br>will be built<br>by those who<br>are willing<br>to get up and<br>go after it.<br></h1>
          			<p>Watch the &ldquo;Jingle Bell Rock&rdquo; holiday greeting from B&E faculty and staff.</p>	
          		</div>
              <button>Watch Video</button>
          	</div>
          </div>
        </li>
        <li>
          <div class="hero hero_long-shout">
          	<div class="hero__inner">
          		<div class="hero__copy">
          			<h1 class="shout">The future<br>will be built<br>by those who<br>are willing<br>to get up and<br>go after it.<br></h1>
          			<p>Watch the &ldquo;Jingle Bell Rock&rdquo; holiday greeting from B&E faculty and staff.</p>	
          		</div>
              <button>Watch Video</button>
          	</div>
          </div>
        </li>
  		</ul>
    

  	</div>
	
  </div>
