

<div class="line-behind-text">
  <h2 class="element-header">Hero Unit with Shout</h2>
</div>

<div class="hero">
	<div class="hero__inner">
		<div class="hero__copy">
			<h1 class="shout shout--white">Mountaineers<br><span class="wvu-gold">Go First.</span></h1>
			<p class="hero__text">A few reasons why this product is worth using, who it's for and why they need it.</p>	
		</div>
    <a href="" class="button button--white">Learn More</a>
	</div>
</div>

<div class="line-behind-text">
  <h2 class="element-header">Hero Unit with Shout and Photo Diagonal Line</h2>
</div>

<div class="hero hero--diagonal">
	<div class="hero__inner">
		<div class="hero__copy">
			<h1 class="shout shout--white">It Starts<br><span class="wvu-gold">Now.</span></h1>
			<p class="hero__text">A few reasons why this product is worth using, who it's for and why they need it.</p>	
		</div>
    <a href="" class="button button--white">Learn More</a>
	</div>
</div>

<div class="line-behind-text">
  <h2 class="element-header">Hero Unit with Medium Shout and Photo</h2>
</div>

<div class="hero hero--medium-shout" style="background-image: url(<r:image_url name="girl-pointing.jpg" />);">
	<div class="hero__inner">
		<div class="hero__copy">
			<h1 class="shout shout--medium-shout shout--white">This is<br>Where<br>Ideas<br>Come<br><span class="wvu-gold">First.</span></h1>
			<p class="hero__text">A few reasons why this product is worth using, who it's for and why they need it.</p>	
		</div>
    <a href="" class="button button--white">Learn More</a>
	</div>
</div>

<div class="line-behind-text">
  <h2 class="element-header">Hero Unit with Long Shout and Photo</h2>
</div>

<div class="hero hero--long-shout" style="background-image: url(<r:image_url name="dance-header.jpg" />);">
	<div class="hero__inner">
		<div class="hero__copy">
			<h1 class="shout shout--long-shout shout--white">The future<br>will be built<br>by those who<br>are willing<br>to get up and<br>go after it.<br></h1>
			<p class="hero__text">Watch the &ldquo;Jingle Bell Rock&rdquo; holiday greeting from B&E faculty and staff.</p>	
		</div>
    <a href="" class="button button--white">Learn More</a>
	</div>
</div>

<div class="line-behind-text">
  <h2 class="element-header">Hero Unit Traditional</h2>
</div>

<div class="hero hero--traditional" style="background-image: url(<r:image_url name="dance-header.jpg" />);">
	<div class="hero__inner">
		<div class="hero__copy">
			<h1 class="hero--traditional__heading hero--traditional__heading--white">Moving the earth<br>and powering its future.</h1>
			<p class="hero__text">A few reasons why this product is worth using, who it's for and why they need it.</p>	
		</div>
    <a href="" class="button button--white">Learn More</a>
	</div>
</div>

<div class="line-behind-text">
  <h2 class="element-header">Hero Unit for Narrow Audience</h2>
</div>

<div class="hero hero--narrow-audience" style="background-image: url(<r:image_url name="dance-header.jpg" />);">
	<div class="hero__inner">
		<div class="hero__copy">
			<h1 class="hero--narrow-audience__heading hero--narrow-audience__heading--white">Let&rsquo; go.</h1>
			<p class="hero__text">A few reasons why this product is worth using, who it's for and why they need it.</p>	
		</div>
    <a href="" class="button button--white">Learn More</a>
	</div>
</div>

<div class="line-behind-text">
  <h2 class="element-header">Hero Unit with Small Photo</h2>
</div>

<div class="hero hero--small-photo">
	<div class="hero__inner">
		<div class="hero__copy hero--small-photo__copy">
			<h1 class="shout shout--small-photo shout--wvu-blue">Mountaineers <br><span class="wvu-gold">Go First.</a></h1>
			<p class="hero__text hero__text--full-width">A few reasons why this product is worth using, who it's for and why they need it.</p>	
      <a href="" class="button">Learn More</a>
		</div>
    <div class="hero__photo">
      <img src="<r:image_url name="kids-sitting-by-tulips.jpg" />" alt="Kids sitting by tulips">
    </div>
	</div>
</div>