

<div class="line-behind-text">
  <h2 class="element-header">Hero Unit with Shout</h2>
</div>

<div class="hero">
	<div class="hero__inner">
		<div class="hero__copy">
			<h1 class="shout">Mountaineers<br><span class="wvu-gold">Go First.</span></h1>
			<p>A few reasons why this product is worth using, who it's for and why they need it.</p>	
		</div>
    <button>Learn More</button>
	</div>
</div>

<div class="line-behind-text">
  <h2 class="element-header">Hero Unit with Shout and Photo Diagonal Line</h2>
</div>

<div class="hero hero_diagonal">
	<div class="hero__inner">
		<div class="hero__copy">
			<h1 class="shout">It Starts<br><span class="wvu-gold">Now.</span></h1>
			<p>A few reasons why this product is worth using, who it's for and why they need it.</p>	
		</div>
    <button>Learn More</button>
	</div>
</div>

<div class="line-behind-text">
  <h2 class="element-header">Hero Unit with Medium Shout and Photo</h2>
</div>

<div class="hero hero_medium-shout" style="background-image: url(<r:image_url name="girl-pointing.jpg" />);">
	<div class="hero__inner">
		<div class="hero__copy">
			<h1 class="shout">This is<br>Where<br>Ideas<br>Come<br><span class="wvu-gold">First.</span></h1>
			<p>A few reasons why this product is worth using, who it's for and why they need it.</p>	
		</div>
    <button>Learn More</button>
	</div>
</div>

<div class="line-behind-text">
  <h2 class="element-header">Hero Unit with Long Shout and Photo</h2>
</div>

<div class="hero hero_long-shout" style="background-image: url(<r:image_url name="dance-header.jpg" />);">
	<div class="hero__inner">
		<div class="hero__copy">
			<h1 class="shout">The future<br>will be built<br>by those who<br>are willing<br>to get up and<br>go after it.<br></h1>
			<p>Watch the &ldquo;Jingle Bell Rock&rdquo; holiday greeting from B&E faculty and staff.</p>	
		</div>
    <button>Watch Video</button>
	</div>
</div>

<div class="line-behind-text">
  <h2 class="element-header">Hero Unit Traditional</h2>
</div>

<div class="hero" style="background-image: url(<r:image_url name="dance-header.jpg" />);">
	<div class="hero__inner">
		<div class="hero__copy">
			<h1 class="iowan">Moving the earth<br>and powering its future.</h1>
			<p>A few reasons why this product is worth using, who it's for and why they need it.</p>	
		</div>
    <button>Learn More</button>
	</div>
</div>

<div class="line-behind-text">
  <h2 class="element-header">Hero Unit for Narrow Audience</h2>
</div>

<div class="hero" style="background-image: url(<r:image_url name="dance-header.jpg" />);">
	<div class="hero__inner">
		<div class="hero__copy">
			<h1 class="iowan-italic">Let&rsquo; go.</h1>
			<p>A few reasons why this product is worth using, who it's for and why they need it.</p>	
		</div>
    <button>Learn More</button>
	</div>
</div>

<div class="line-behind-text">
  <h2 class="element-header">Hero Unit with Small Photo</h2>
</div>

<div class="hero hero_small-photo">
	<div class="hero__inner">
		<div class="hero__copy">
			<h1 class="shout wvu-blue">Mountaineers <br><span class="wvu-gold">Go First.</a></h1>
			<p>A few reasons why this product is worth using, who it's for and why they need it.</p>	
      <button class="black">Learn More</button>
		</div>
    <div class="hero__photo">
      <img src="<r:image_url name="kids-sitting-by-tulips.jpg" />" alt="Kids sitting by tulips">
    </div>
	</div>
</div>