<div class="profile-index">
  
  <r:children:each>
    <div class="profile-index__profile">
      <div class="profile-index__photo">
      
      </div>
      <div class="profile-index__info">
        <h2 class="profile-index__name"><a href="<r:page:url />"><r:page:first_non_blank_attr names="alternate_name,name" /></a></h2>
        <p class="profile-index__intro">
          <r:page:meta_description />
        </p>
        <a class="button">View <r:page:first_non_blank_attr names="alternate_name,name" />&rsquo;s Profile</a>
      </div>
    </div>
  </r:children:each>

</div> <!-- /.profile-index -->
