<div class="spotlights">
  <h2>Spotlights</h2>
  <ul>
    <li>
      <a href=""><img src="" /></a>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
    </li>
    <li>
      <a href=""><img src="" /></a>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
    </li>
    <li>
      <a href=""><img src="" /></a>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
    </li>
  </ul>
  <a href="http://cal.wvu.edu"><button>View All Spotlights</button></a>
</div>