<div class="staff-index__chief twelve columns alpha omega">
  <h1 class="main__heading"><r:page:first_non_blank_attr names="alternate_name,name" /></h1>

  <div class="staff-index__chief-photo seven columns alpha">
    <r:editable_region name="staff-index__chief-photo">
      Add the chief's profile photo.
    </r:editable_region>
  </div> <!-- /.staff-index__chief-photo -->

  <div class="staff-index__chief-info nine columns">
    <h3 class="staff-index__name staff-index__chief-link"><r:editable_region name="chief__name">Enter a Name</r:editable_region></h3>
    <p class="staff-index__title">Vice President</p>
    <p class="staff-index__phone"><strong>Phone:</strong> <r:editable_region name="chief__phone" type="simple">(304) 555-3456</r:editable_region></p>
    <p class="staff-index__email"><strong>Email:</strong> <r:editable_region name="chief__email" type="simple">firstname.lastname@mail.wvu.edu</r:editable_region></p>
    <p class="staff-index__description"><strong>Bio:</strong> <r:editable_region name="chief__description" type="simple">Enter a brief bio here.</r:editable_region></p>
    <p class="staff-index__what-i-do"><strong>What I Do:</strong> <r:editable_region name="chief__what-i-do" type="simple">What does this person do?</r:editable_region></p>
    <r:editable_region name="staff-index__chief-btn-link" />

    <!-- <a class="staff-index__chief-btn btn" href="<r:page:url />">Read Full Bio <span class="staff-index__btn-icon icon-arrow-right2" aria-hidden="true"></span></a> -->
  </div> <!-- /.staff-index__chief-info -->

</div> <!-- /.staff-index__chief -->