<ul class="staff-index">
  <r:children:each>
    <li class="staff-index__individual eight columns">
      
      <div class="staff-index__individual-photo-btn six columns">
        <a href="<r:page:url />">
          <r:page:content name="staff__photo" />
        </a>
        <a class="staff-index__btn btn" href="<r:page:url />">Read Full Bio <span class="staff-index__btn-icon icon-arrow-right2" aria-hidden="true"></span></a>
      </div> <!-- /.staff-index__individual-photo-btn -->

      <div class="staff-index__individual-info">
        <h3 class="staff-index__name"><a class="staff-index__name-link" href="<r:page:url />"><r:page:content name="staff__name" /></a></h3>
        <p class="staff-index__title"><r:page:content name="staff__title" /></p>
        <p class="staff-index__phone"><strong>Phone:</strong> <r:page:content name="staff__phone" /></p>
        <p class="staff-index__email"><strong>Email:</strong> <r:page:content name="staff__email" /></p>
        <p class="staff-index__what-i-do"><strong>What I Do:</strong> <r:page:content name="staff__what-i-do" /></p>
        <p class="staff-index__description"><strong>Bio:</strong> <r:page:content name="staff__description" /></p>
      </div> <!-- /.staff-index__individual-info -->
    
    </li>
  </r:children:each>
</ul>