
<h2 class="element-header">Features Triptych</h2>

<r:partial name="wvu-spotlights--triptych" />

<h2 class="element-header">Super Nav</h2>

<r:partial name="wvu-super-nav-example" />

<h2 class="element-header">Horizontal Widgets</h2>

<div class="cards cards--horizontal cards--pms-432-c">
  <div class="cards__wrapper">
    <div class="cards--horizontal__card cards--horizontal__card--spotlights">
      <h2 class="cards__header">Spotlights</h2>
      
      <r:get_page id="4850">
        <r:partial name="patterns/widgets__spotlights" />
      </r:get_page>
      
    </div>
    <div class="cards--horizontal__card cards--horizontal__card--events">
      <h2 class="card__header">
        Events
      </h2>
      
      <r:partial name="patterns/widgets__calendar" />

      <a href="" class="button button--white">All Events</a>
  
    </div>
    
    <div class="cards--horizontal__card cards--horizontal__card--quicklinks">

      <h2 class="card__header">
        Quicklinks
      </h2>
      
      <r:partial name="patterns/widgets__quicklinks" />

    </div>
  </div>
</div>

<h2 class="element-header">Features</h2>

<div class="cards cards--pms-432-c">

  <div class="cards__wrapper">
    <div class="cards__card cards__card--full-width">

      <div class="cards__spotlight cards__spotlight--side-by-side">
        <div class="cards__spotlight-image">
          <a href=""><img src="../images/kids-sitting-by-tulips.jpg" alt="Kids sitting by tulips." /></a>
        </div>
        <div class="cards__copy-wrapper">
          <h3 class="cards__spotlight-header">Spotlight 1</h3>
          <p class="cards__spotlight-copy">Lorem ipsum dolor sit amet, consectetur adipiscing. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
          <a href="" class="button button--white">Read More</a>
        </div>
      </div>
      <div class="cards__spotlight cards__spotlight--side-by-side">
        <div class="cards__spotlight-image">
          <a href=""><img src="../images/kids-sitting-by-tulips.jpg" alt="Kids sitting by tulips." /></a>
        </div>
        <div class="cards__copy-wrapper">
          <h3 class="cards__spotlight-header">Spotlight 1</h3>
          <p class="cards__spotlight-copy">Lorem ipsum dolor sit amet, consectetur adipiscing. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
          <a href="" class="button button--white">Read More</a>
        </div>
      </div>
      
    </div>

  </div>
</div>

<h2 class="element-header">Events</h2>

<div class="cards cards--pms-432-c">
  <div class="cards__wrapper">
    
    <div class="cards__card cards__card--full-width">
      <h2 class="cards__header">
        Events
      </h2>

      <r:partial name="patterns/widgets__calendar--flex" />
  
      <a class="button button--white">All Events</a>
  
    </div>
    
  </div>
</div>

<h2 class="element-header">Quicklinks</h2>

<div class="cards cards--pms-432-c">
  <div class="cards__wrapper">
    
    <div class="cards__card cards__card--full-width">

      <div class="cards__quicklnks-container">
        <h2 class="cards__header">
          Quicklinks
        </h2>
        
        <r:partial name="patterns/widgets__quicklinks--flex" />
        
      </div>

    </div>
  </div>
</div>

<h2 class="element-header">Social Media Links</h2>

<div class="cards cards--black">
  <div class="cards__wrapper">
    <div class="cards__card cards__card--follow-us">
      <r:partial name="patterns/widgets__social-media-icons" />
    </div>
  </div>
</div>