<!-- Spotlights Widget - wvu-pattern-library/views/patterns/_widgets__spotlights.html -->

<r:children:each>
  <div class="cards__spotlight">
    <div class="cards__spotlight-image">
      <a href="<r:page:url />"><r:page:content name="profiles__photo" /></a>
    </div>
    <div class="cards__copy-wrapper">
      <h3 class="cards__spotlight-header"><r:page:first_non_blank_attr names="alternate_name,name" /></h3>
      <p class="cards__spotlight-copy"><r:page:meta_description /></p>
      <a href="<r:page:url />" class="button button--white button--small">Continue to <r:page:first_non_blank_attr names="alternate_name,name" /></a>
    </div>
  </div>
</r:children:each>