<div class="wvu-tabs">

  <div class="wvu-tabs__tabs">
    <ul class="intro__tabs">
      <r:get_page id="4850">
        <li><a href="#tabs-1"><r:page:first_non_blank_attr names="alternate_name,name" /></a></li>
      </r:get_page>
      <r:get_page id="4850">
        <li><a href="#tabs-2"><r:page:first_non_blank_attr names="alternate_name,name" /></a></li>
      </r:get_page>
      <r:get_page id="4850">
        <li><a href="#tabs-3"><r:page:first_non_blank_attr names="alternate_name,name" /></a></li>
      </r:get_page>
    </ul>
  </div>
  
  <div class="wvu-tabs__content">
    <r:get_page id="4850">
      <div id="tabs-1" class="u-embed-container wvu-spotlight wvu-spotlight--<r:page:slug />">
        <a href="<r:page:url />"><r:page:content name="spotlight__image" /></a>
      
        <div class="intro__caption <r:page:content name="intro__is-video-tab1" />">
          <h2><r:page:first_non_blank_attr names="alternate_name,name" /></h2>
          <p><r:page:meta_description /></p>
          <a href="<r:page:url />" class="button">Continue to <r:page:first_non_blank_attr names="alternate_name,name" /></a>
        </div>
    
      </div>
    </r:get_page>
    <r:get_page id="4850">
      <div id="tabs-2" class="u-embed-container wvu-spotlight wvu-spotlight--<r:page:slug />">
        <a href="<r:page:url />"><r:page:content name="spotlight__image" /></a>
      
        <div class="intro__caption <r:page:content name="intro__is-video-tab1" />">
          <h2><r:page:first_non_blank_attr names="alternate_name,name" /></h2>
          <p><r:page:meta_description /></p>
          <a href="<r:page:url />" class="button">Continue to <r:page:first_non_blank_attr names="alternate_name,name" /></a>
        </div>
    
      </div>
    </r:get_page>
    <r:get_page id="4850">
      <div id="tabs-3" class="u-embed-container wvu-spotlight wvu-spotlight--<r:page:slug />">
        <a href="<r:page:url />"><r:page:content name="spotlight__image" /></a>
      
        <div class="intro__caption <r:page:content name="intro__is-video-tab1" />">
          <h2><r:page:first_non_blank_attr names="alternate_name,name" /></h2>
          <p><r:page:meta_description /></p>
          <a href="<r:page:url />" class="button">Continue to <r:page:first_non_blank_attr names="alternate_name,name" /></a>
        </div>
    
      </div>
    </r:get_page>
    

    
  </div>

</div>