<!-- Super-nav - wvu-pattern-library/views/patterns/_super-av.html -->

<div class="wvu-section u-full-width u-pms-429-c background">
  <div class="wvu-container wvu-quadtych">

    <div class="wvu-super-nav wvu-super-nav--<r:page:slug />">
      <h2>Health & Wellness</h2>
      <ul>
        <li><a href="">Campus Recreation</a></li>
        <li><a href="">Counseling & Psychological Services</a></li>
        <li><a href="">University Health Center</a></li>
        <li><a href="">Women's Center</a></li>
      </ul>
    </div>
    
    <div class="wvu-super-nav wvu-super-nav--<r:page:slug />">
      <h2>Health & Wellness</h2>
      <ul>
        <li><a href="">Campus Recreation</a></li>
        <li><a href="">Counseling & Psychological Services</a></li>
        <li><a href="">University Health Center</a></li>
        <li><a href="">Women's Center</a></li>
      </ul>
    </div>
    
    <div class="wvu-super-nav wvu-super-nav--<r:page:slug />">
      <h2>Health & Wellness</h2>
      <ul>
        <li><a href="">Campus Recreation</a></li>
        <li><a href="">Counseling & Psychological Services</a></li>
        <li><a href="">University Health Center</a></li>
        <li><a href="">Women's Center</a></li>
      </ul>
    </div>
    
    <div class="wvu-super-nav wvu-super-nav--<r:page:slug />">
      <h2>Health & Wellness</h2>
      <ul>
        <li><a href="">Campus Recreation</a></li>
        <li><a href="">Counseling & Psychological Services</a></li>
        <li><a href="">University Health Center</a></li>
        <li><a href="">Women's Center</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="wvu-container">
  <div class="code-label code-label--html">HTML (views/default.html)</div>
  <pre>
  &lt;r:partial name="patterns/wvu-super-nav" /&gt;</pre>
  <div class="code-label code-label--styles">SCSS (scss/2-layouts/modules-dir.sass)</div>
  <pre>
  @import 'wvu-super-nav'</pre>
  <div class="code-label code-label--styles">SCSS (scss/3-layouts/layouts-dir.sass)</div>
  <pre>
  @import 'wvu-quadtych'</pre>
</div>