
<div class="wvu-spotlights">
  <div class="wvu-spotlights__container">
    <div class="wvu-spotlight wvu-spotlight--triptych">
      <div class="wvu-spotlight__image">
        <a href="<r:page:url />"><img src="<r:image_url name="tireless.jpg" />" /></a>
      </div>
      <div class="wvu-spotlight__copy">
        <h2><r:page:first_non_blank_attr names="alternate_name,name" /></h2>
        <p><r:page:meta_description /></p>
        <a href="<r:page:url />" class="button">Continue to <r:page:first_non_blank_attr names="alternate_name,name" /></a>
      </div>
    </div>
    <div class="wvu-spotlight wvu-spotlight--triptych">
      <div class="wvu-spotlight__image">
        <a href="<r:page:url />"><img src="<r:image_url name="coopers-rock.jpg" />" /></a>
      </div>
      <div class="wvu-spotlight__copy">
        <h2><r:page:first_non_blank_attr names="alternate_name,name" /></h2>
        <p><r:page:meta_description /></p>
        <a href="<r:page:url />" class="button">Continue to <r:page:first_non_blank_attr names="alternate_name,name" /></a>
      </div>
    </div>
    <div class="wvu-spotlight wvu-spotlight--triptych">
      <div class="wvu-spotlight__image">
        <a href="<r:page:url />"><img src="<r:image_url name="girl-pointing.jpg" />" /></a>
      </div>
      <div class="wvu-spotlight__copy">
        <h2><r:page:first_non_blank_attr names="alternate_name,name" /></h2>
        <p><r:page:meta_description /></p>
        <a href="<r:page:url />" class="button">Continue to <r:page:first_non_blank_attr names="alternate_name,name" /></a>
      </div>
    </div>
  </div>
</div>