

<h2 class="element-header">Hero Unit with Shout</h2>

<div class="hero" style="background-image: url(../images/wvu-pattern-close.jpg);">
	<div class="hero__inner">
		<h1 class="shout shout--white">Mountaineers<br><span class="wvu-gold">Go First.</span></h1>
		<p class="hero__text">A few reasons why this product is worth using, who it's for and why they need it.</p>	
    <a href="" class="button button--white">Learn More</a>
	</div>
</div>

<h2 class="element-header">Hero Unit with Shout and Photo Diagonal Line</h2>

<div class="hero hero--diagonal">
	<div class="hero__inner">
		<h1 class="shout shout--white">It Starts<br><span class="wvu-gold">Now.</span></h1>
		<p class="hero__text">A few reasons why this product is worth using, who it's for and why they need it.</p>	
    <a href="" class="button button--white">Learn More</a>
	</div>
</div>

<h2 class="element-header">Hero Unit with Medium Shout and Photo</h2>

<div class="hero hero--medium-shout" style="background-image: url(<r:image_url name="girl-pointing.jpg" />);">
	<div class="hero__inner">
		<h1 class="shout shout--medium-shout shout--white">This is<br>Where<br>Ideas<br>Come<br><span class="wvu-gold">First.</span></h1>
		<p class="hero__text">A few reasons why this product is worth using, who it's for and why they need it.</p>	
    <a href="" class="button button--white">Learn More</a>
	</div>
</div>

<h2 class="element-header">Hero Unit with Long Shout and Photo</h2>

<div class="hero hero--long-shout" style="background-image: url(<r:image_url name="dance-header.jpg" />);">
	<div class="hero__inner">
		<h1 class="shout shout--long-shout shout--white">The future<br>will be built<br>by those who<br>are willing<br>to get up and<br>go after it.<br></h1>
		<p class="hero__text">Watch the &ldquo;Jingle Bell Rock&rdquo; holiday greeting from B&E faculty and staff.</p>	
    <a href="" class="button button--white">Learn More</a>
	</div>
</div>

<h2 class="element-header">Hero Unit Traditional</h2>

<div class="wvu-hero wvu-hero--traditional-audience">
	<div class="wvu-hero__container">
		<h1>Moving the earth<br>and powering its future</h1>
		<p><r:editable_region name="wvu-hero-text" type="simple" /></p>	
    <a href="" class="button button--white">Learn More</a>
	</div>
</div>

<h2 class="element-header">Hero Unit for Narrow Audience</h2>

<div class="wvu-hero wvu-hero--narrow-audience">
	<div class="wvu-hero__container">
		<h1>Let&rsquo;s go.</h1>
		<p><r:editable_region name="wvu-hero-text" type="simple" /></p>	
    <a href="" class="button button--white">Learn More</a>
	</div>
</div>

<h2 class="element-header">Baby Hero Unit</h2>

<div class="wvu-hero wvu-hero--baby">
	<div class="wvu-hero__container">
		<div class="wvu-hero__copy">
  		<h1><r:editable_region name="wvu-hero-title-top" /><br><span class="wvu-hero__title-bottom"><r:editable_region name="wvu-hero-title-bottom" type="simple" /></span></h1>
  		<p><r:editable_region name="wvu-hero-text" type="simple" /></p>	
      <a href="" class="button button--white">Learn More</a>
		</div>
    <div class="wvu-hero__photo">
      <img src="<r:image_url name="kids-sitting-by-tulips.jpg" />" alt="Kids sitting by tulips">
    </div>
	</div>
</div>