
<div class="wvu-landing-page-header">
  <div class="wvu-container">
  
    <h1>Landing Page<br>Header</h1>
    
    <p class="wvu-landing-page-header__intro wvu-landing-page-header__intro--overlay">Perhaps our brand's most impactful first is its first impression. WVU's graphic language sets the tone for how people see us initially, and how they will recognize us moving forward. It consists of type, photos, graphic elements, and color. More importantly, it is the culmination of how all these pieces work together to strengthen our overall brand message. </p>
  
  </div>
</div>