---
layout: default
---

<r:comment>
  <!-- NOTE: Blog articles use Schema.org's tags to structure your data & help with SEO: http://goo.gl/SKs4Qb -->
</r:comment>

<div class="u-full-width">
  <div class="main-container container">
    <r:breadcrumbs ul_class="breadcrumbs sixteen columns" />

    <aside class="sidebar four columns" role="complementary">
      <div class="nav__main" role="navigation">
        <r:site_menu />
      </div> <!-- /.nav__main -->

      <h3>Related Articles</h3>
      <r:blog:articles limit="5" tags="{article:tags}" exclude_ids="{article:id}">
        <r:if_articles>
          <ul>
            <r:each>
              <li><a href="<r:article:path />"><r:article:name /></a></li>
            </r:each>
          </ul>
        </r:if_articles>
      </r:blog:articles>
    </aside> <!-- /.sidebar -->

    <article class="article twelve columns" role="article" itemscope="" itemprop="blogPost" itemtype="http://schema.org/BlogPosting">
    
      <div class="main__header-wrap fifteen columns alpha">
        <h1 class="main__heading" itemprop="headline"><r:page:first_non_blank_attr names="alternate_name,name" /></h1>
      </div> <!-- /.main__header-wrap -->      

      <div class="main__content ten columns alpha">
        <p class="article__meta-info">
          <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
            <span class="article__author" itemprop="name">
              <r:article:author_full_name />
            </span> <!-- /.article__author -->
          </span> <!-- /itemprop="author" -->
          | <time class="article__date" datetime="<r:date_format format="iso8601" value="{article:published_at}" />"><r:date_format format="%A, %B %d, %Y" value="{article:published_at}" error_msg="Not Yet Published" /></time>
        </p>
        <div class="article__body" itemprop="articleBody">
          <r:editable_region name="main" />
        </div> <!-- /.article__body -->
      </div> <!-- /.main__content -->
    </article> <!-- /.article -->

  </div> <!-- /.container -->
</div> <!-- /.u-full-width -->

<r:comment><!-- Need comments for Blog Articles? See http://disqus.com --></r:comment>