---
layout: default
---

<r:comment>
  <!-- NOTE: Set how many blog posts you'd like to show per page. Eg: default="10" -->
</r:comment>
<r:set_var name="limit" value="{$limit}" default="5"/>

<div class="u-full-width">
  <div class="main-container container">
      <r:breadcrumbs ul_class="breadcrumbs sixteen columns" />

    <aside class="sidebar four columns">    
      <div class="nav__main" role="navigation">
        <r:site_menu />
      </div> <!-- /.nav__main -->

      <a href="<r:page:url format="rss" />">Blog Articles RSS Feed <span class="current-events__icon--rss icon icon-rss" aria-hidden="true"></span></a>
    </aside>

    <main class="main twelve columns" role="main">
      <div class="main__header-wrap fifteen columns">
        <h1 class="main__heading"><r:page:first_non_blank_attr names="alternate_name,name" /></h1>
      </div> <!-- /.main__header-wrap -->

      <r:blog:articles limit="{$limit}" page="{$page}" tags="{$tags}" tags_op="{$tags_op}" year="{$year}" month="{$month}" day="{$day}">
        <r:set_var name="article_count" value="{count}" />
        
      <div class="main__content ten columns">
        <r:if_no_articles>
          <p>No blog posts found. Please try again at a later date or email <a href="mailto:diversity@mail.wvu.edu">diversity@mail.wvu.edu</a> and kindly ask them to update this blog.</p>
        </r:if_no_articles>

        <r:comment><!-- NOTE: Blog articles use Schema.org's tags to structure your data & help with SEO: http://goo.gl/SKs4Qb --></r:comment>
        
        <r:if_articles>
          <div class="articles">
            <r:each>
              <article class="article" itemscope="" itemtype="http://schema.org/BlogPosting" role="article">
                <h2 class="article__header" itemprop="headline"><a class="article__link" href="<r:article:path />"><r:article:name /></a></h2>
                <p class="article__meta-info">
                  <r:article:author_full_name /> |
                  <time class="article__date" itemprop="datePublished" datetime="<r:date_format format="iso8601" value="{article:published_at}" />"><r:date_format format="%A, %B %d, %Y" value="{article:published_at}" /></time>
                </p>
                <div class="article__body" itemprop="articleBody">
                  <r:select_html css_selector="p" limit="2">
                    <r:article:content name="main" />
                  </r:select_html>
                </div> <!-- /.article__body -->
                <p><a class="btn" href="<r:article:path />"><span class="current-events__icon icon icon-newspaper" aria-hidden="true"></span> Read Full Article</a></p>
              </article> <!-- /.article -->
            </r:each>
          </div> <!-- /.articles -->
        </r:if_articles>
        
        <r:pagination>
          <ul class="pagination">
            <li class="pagination__next"><a class="btn <r:if_last_page>pagination__disabled</r:if_last_page>" href="<r:next_url />" rel="next">&larr; Older Articles</a></li>
            <li class="pagination__previous"><a class="<r:if_first_page>pagination__disabled</r:if_first_page> btn" href="<r:previous_url />" rel="prev">Newer Articles &rarr;</a></li>
          </ul>
        </r:pagination>
      </div> <!-- /.main__content -->
      </r:blog:articles>
    </main> <!-- /.main -->

  </div> <!-- /.container -->
</div> <!-- /.u-full-width -->