---
layout: default
---

<r:comment>
  <!-- NOTE: This is esentially the same template as department.html; however, the sidebar navigation is different and it includes some extra buttons. -->
  <!-- NOTE: Markup for the sidebar__buttons editable region is a <ul> -->
</r:comment>

<div class="u-full-width">
  <div class="main-container container">

    <r:breadcrumbs ul_class="breadcrumbs sixteen columns" />

    <aside class="sidebar four columns">
      
      <div class="nav__main"  role="navigation">
        <r:ancestor_menu start_depth="1" max_depth="4" active_class="nav__main--current-page" open_class="nav__main--open" />
      </div> <!-- /.nav__main -->

      <div class="sidebar__buttons">
        <r:editable_region name="sidebar__buttons" scope="site" />
      </div> <!-- /.sidebar__buttons -->

    </aside> <!-- /.sidebar -->

    <main class="main twelve columns" role="main">
      <div class="main__content ten columns">
        <h1 class="main__heading"><r:page:first_non_blank_attr names="alternate_name,name" /></h1>
        <r:editable_region name="main" />
      </div> <!-- /.main__content -->
    </main><!-- /.main -->

   </div> <!-- /.container -->
 </div> <!-- /.u-full-width -->

<r:content_for name="page_js">
  <r:partial name="flexslider-scripts" />
</r:content_for>