---
layout: default
---


<h2 class="element-header">WVU Masthead Combo College</h2>

<r:partial name="patterns/wvu-masthead" />

<div class="line-behind-text">
  <h2 class="element-header">WVU Masthead Combo College</h2>
</div>

<r:partial name="patterns/wvu-masthead--blue-pattern" />

<div class="line-behind-text">
  <h2 class="element-header">WVU Masthead Combo Department</h2>
</div>

<r:partial name="patterns/wvu-masthead--department" />

<div class="line-behind-text">
  <h2 class="element-header">WVU Masthead Combo Gold Background</h2>
</div>

<r:partial name="patterns/wvu-masthead--gold" />

<div class="line-behind-text">
  <h2 class="element-header">WVU Masthead Combo White Background</h2>
</div>

<r:partial name="patterns/wvu-masthead--white" />


<div class="line-behind-text">
  <h2 class="element-header">Navigation</h2>
</div>

<r:partial name="patterns/nav" />

<r:partial name="hero" />

<div class="line-behind-text">
  <h2 class="element-header">Landing Page Header</h2>
</div>

<r:partial name="landing-page-header" />

<r:partial name="cards" />


<h2 class="element-header">Buttons</h2>

<div class="buttons">
<r:partial name="patterns/buttons" />
</div>

<div class="line-behind-text">
  <h2 class="element-header">Type Hierarchy</h2>
</div>

<div class="type-system">

  <h1 class="shout shout--wvu-blue">Mountaineers <br><span class="shout--wvu-gold">Go First.</span></h1>
  
  <main class="main" role="main">
    <r:partial name="patterns/typography" />
  </main>
  
  <div class="sub-nav">
    <ul>
      <li><a href="">Subnav Item 1</a></li>
      <li><a href="">Subnav Item 1</a>
        <ul>
          <li><a href="">Subnav Item 1</a></li>
          <li><a href="">Subnav Item 1</a></li>
          <li><a href="" class="current-page">Subnav Item 1</a></li>
          <li><a href="">Subnav Item 1 With lots and lots of text, multiple lines of text, etc.</a></li>
          <li><a href="">Subnav Item 1</a></li>
          <li><a href="">Subnav Item 1</a></li>
          <li><a href="">Subnav Item 1</a></li>
        </ul>
      </li>
      <li><a href="">Subnav Item 1 With lots and lots of text, multiple lines of text, etc.</a></li>
      <li><a href="" class="current-page">Subnav Item 1</a></li>
      <li><a href="">Subnav Item 1</a></li>
      <li><a href="">Subnav Item 1</a></li>
      <li><a href="">Subnav Item 1</a></li>
    </ul>
  </div>
</div>

<div class="line-behind-text">
  <h2 class="element-header">Slideshow Hero Unit with Shout and Photo</h2>
</div>

<r:partial name="flexslider" />

<div class="line-behind-text">
  <h2 class="element-header">Profile Index</h2>
</div>

<div class="line-behind-text">
  <h2 class="element-header">Tabbed UI</h2>
</div>

<div class="line-behind-text">
  <h2 class="element-header">YouTube Playlist</h2>
</div>

<div class="line-behind-text">
  <h2 class="element-header">YouTube Playlist Grid</h2>
</div>

<div class="line-behind-text">
  <h2 class="element-header">Photo Gallery</h2>
</div>

<div class="line-behind-text">
  <h2 class="element-header">Footer</h2>
</div>

<r:content_for name="page_js"> 
  <r:include_javascript name="jquery.flexslider" />
  <r:include_javascript name="vendor/calendar-reformat" />

  <!-- Target sliders individually with different properties -->
  <script type="text/javascript">
    $(window).load(function() {
      $('.flexslider').flexslider({
        animation: 'fade',
      });
    });
  </script>
</r:content_for>