---
layout: default
---

<div class="wvu-masthead">
  <div class="wvu-masthead__container">
    <a class="wvu-masthead__logo" href="http://www.wvu.edu/"><span class="wvu-masthead__university-name">West Virginia University</span>Digital Services</span></a>  
    <r:partial name="patterns/wvu-masthead__search-bar" />
  </div> <!-- /.wvu-masthead-container -->
</div> <!-- /.wvu-masthead --> 

<div class="wvu-section u-wvu-gold background u-full-width">
  <div class="wvu-container">
    <h1 class="shout" style="color: white"><span class="white">WVU Brand</span> <span class="u-wvu-blue">Patterns</span></h1>

    <p class="lede">WVU Brand Patterns is a theme for making WVU-branded websites. It is built with <a href="">Sass</a> and works with WVU&rsquo;s <a href="">CleanSlate</a> content management system.</p>

    <a href="" class="button button--wvu-blue button--big">GitHub</a>
    <a href="" class="button button--wvu-blue button--big">Examples</a>
  </div>
</div>

<div class="wvu-section u-full-width">
  <div class="wvu-container">
  
    <h2>Quickly develop website themes using basic styles, utilities, and HTML partials.</h2> 
    <p>Patterns use Radius tags. They look like this:</p>
  
    <pre>
  &lt;r:partial name="patterns/wvu-masthead" /&gt;</pre>
  
    <p>Which outputs the following:</p>

    <pre>
  &lt;div class="wvu-masthead"&gt;
    &lt;div class="wvu-masthead__container"&gt;
      &lt;a class="wvu-masthead__logo" href="http://www.wvu.edu/"&gt;&lt;span class="wvu-masthead__university-name">West Virginia University&lt;/span&gt;Digital Services&lt;/span&gt;&lt;/a&gt;  
      &lt;r:partial name="patterns/wvu-masthead__search-bar" /&gt;
    &lt;/div&gt;
  &lt;/div&gt;</pre>
  
    <p>And is styled by referencing a Sass partial:</p>
    
    <pre>
  &lt;r:partial name="scss/2-modules/wvu-masthead" /&gt;</pre>
  
    <p>The WVU Brand Patterns theme includes patterns for the official WVU masthead, hero unit, sub features, navigation, typography, WVU footer, and various other elements, which can be viewed <a href="">here</a>, along with the required code.</p>

  </div>
</div>

<div class="u-pms-432-c background wvu-section u-full-width">
  <div class="wvu-container">

    <h2>Instructions:</h2>

    <ol>
      <li>Clone/download the WVU Brand Patterns theme from <a href="">GitHub</a> or <a href="">Stash</a>.</li>
      <li>Create a repo for your new in the CleanSlate Themes project on Stash.</li>
      <li>Copy the files you want from the WVU Brand Patterns theme into your new theme.</li>
      <li>Edit your theme and compile your changes using your favorite Sass compiler.</li>
      <li>Test your theme in <a href="">Hammer</a>.</li>
      <li>Push and sync your theme.</li>
    </ol>
    
  </div>
</div>
<div class="u-pms-429-c background wvu-section u-full-width">
  <div class="wvu-container">

    <h2>Configuration</h2>

    <p>Include the modules you want into your theme. Each has an HTML partial and SCSS file. Variables. </p>

    <p>Easily change design elements using Sass variables. For example...</p>

    <p>Here are example templates created using the WVU Brand Patterns theme.</p>

    <ul>
      <li>Example patterns</li>
      <li>Example college-level page</li>
      <li>Example landing page</li>
      <li>Example back page</li>
      <li>Example HTML email theme</li>
    </ul>

    <p>The WVU Brand Patterns theme comes with <a href="">Boubon/Neat</a> by default. Want to use your own grid instead? No problem, just remove the references to Bourbon and Neat from the plugins.sass and layouts-dir.sass file and include your own grid.</p>
    
  </div>
</div>
<div class="wvu-section u-full-width">
  <div class="wvu-container">

    <h2>Have a problem? New Pattern? Submit on GitHub.</h2>
  </div>
</div>