---
layout: default
---


<r:partial name="wvu-masthead-examples" />

<h2 class="element-header">Navigation</h2>

<r:partial name="wvu-nav-example" />

<h2 class="element-header">Hero</h2>

<r:partial name="wvu-hero-examples" />

<h2 class="element-header">Landing Page Header</h2>

<r:partial name="wvu-landing-page-header" />

<r:partial name="wvu-widgets" />

<h2 class="element-header">Buttons</h2>

<div class="wvu-container">
<r:partial name="wvu-buttons" />
</div>

<h2 class="element-header">Breadcrumbs</h2>


<div class="wvu-container">
  <r:partial name="patterns/wvu-breadcrumbs" />
</div>


<div class="wvu-container">
  <div class="code-label code-label--html">HTML (views/backpage.html)</div>
  <pre>
  &lt;div class="wvu-container"&gt;
    <span class="u-pms-166-c">&lt;r:partial name="patterns/wvu-breadcrumbs" /&gt;</span>
  &lt;/div&gt;</pre>
  <div class="code-label code-label--styles">SCSS (scss/2-modules/modules-dir.scss)</div>
  <pre>
  @import 'wvu-breadcrumbs'</pre>
</div>

<h2 class="element-header">Type Hierarchy</h2>

<div class="wvu-container">

  <h1 class="shout shout--wvu-blue">Mountaineers <br><span class="shout--wvu-gold">Go First.</span></h1>
  
  <main class="main" role="main">
    <r:partial name="wvu-typography" />
  </main>
  
  <r:partial name="wvu-sub-nav-example" />

  <div class="wvu-container">
    <div class="code-label code-label--styles">SCSS (scss/1-base/base-dir.scss)</div>
  <pre>
  @import 'typography';</pre>
  <div class="code-label code-label--html">HTML (views/backpage.html)</div>
  <pre>
  &lt;div class="wvu-sub-nav"&gt;
    <span class="u-pms-166-c">&lt;r:partial name="patterns/wvu-sub-nav"&gt;</span>
  &lt;/div&gt;</pre>
  <div class="code-label code-label--styles">SCSS (scss/2-modules/modules-dir.scss)</div>
  <pre>
  @import 'wvu-sub-nav';</pre>
  </div>
</div>

<r:partial name="wvu-back-page-callouts" />

<h2 class="element-header">Slideshow Hero Unit with Shout and Photo</h2>

<r:partial name="wvu-flexslider" />

  <div class="wvu-container">
  <div class="code-label code-label--html">HTML (views/frontpage.html)</div>
  <pre>
  &lt;div class="slideshow-wrapper"&gt;
    &lt;div class="flexslider"&gt;
      &lt;ul class="slides"&gt;
        &lt;r:get_page id="4850"&gt;
          <span class="u-pms-166-c">&lt;r:partial name="patterns/wvu-flexslider-slides" /&gt;</span>
        &lt;/r:get_page&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  // this loops through a set of child pages based on a page ID to populate flexslider slides. substitute your own page ID for the parent of your slide pages.</pre>
  <div class="code-label code-label--styles">SCSS (scss/2-modules/modules-dir.scss)</div>
  <pre>
  @import 'wvu-flexslider';
  @import 'wvu-hero';</pre>
  <div class="code-label code-label--js">JS (views/frontpage.html)</div>
  <pre>
  &lt;r:include_javascript name="vendor/jquery.flexslider" /&gt;
  &lt;script type="text/javascript"&gt;
    $(window).load(function() {
      $('.flexslider').flexslider();
    });
  &lt;/script&gt;</pre>
  </div>



<h2 class="element-header">Profile Index</h2>

<div class="wvu-section">
  <div class="wvu-container">
    <r:get_page id="5102">
      <r:partial name="patterns/wvu-spotlights-index" />
    </r:get_page>
  </div>
</div>

<div class="wvu-container">
  <div class="code-label code-label--html">HTML (views/profile-index.html)</div>
  <pre>
  &lt;r:get_page id="5102"&gt;
    <span class="u-pms-166-c">&lt;r:partial name="patterns/wvu-spotlights-index--auto"&gt;</span>
  &lt;/r:get_page&gt;
  // this automatically loops through a set of child pages based on a page ID to populate a profile index. substitute your own page ID for the parent page of your profiles.</pre>
  <div class="code-label code-label--styles">SCSS (scss/2-modules/modules-dir.scss)</div>
  <pre>
  @import 'wvu-profile-index';</pre>
</div>

<h2 class="element-header">Tabbed UI</h2>

<div class="wvu-container">
  <r:partial name="wvu-tabbed-ui-example" />
</div>

<h2 class="element-header">YouTube Video</h2>

<div class="wvu-section u-black background">
  <div class="wvu-container">
    <div class="wvu-youtube-video">
      <div class="u-embed-container">
        <iframe src="https://www.youtube.com/embed/wxU3MyLav0U" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<h2 class="element-header">YouTube Playlist</h2>

<h2 class="element-header">YouTube Playlist Grid</h2>

<h2 class="element-header">Photo Gallery</h2>

<h2 class="element-header">Footer</h2>

<r:content_for name="page_js"> 
  <r:include_javascript name="vendor/calendar-reformat" />
  <r:partial name="javascripts-wvu-flexslider" />
  <r:partial name="javascripts-wvu-tabbed-ui" />
</r:content_for>