---
layout: default
---


<r:partial name="demo/wvu-masthead-examples" />

<h2 class="element-header">Navigation</h2>

<div class="u-full-width u-black background">
  <r:partial name="patterns/wvu-nav" />
</div> <!-- /.nav -->

<div class="wvu-container">
  <div class="code-label code-label--html">HTML (views/default.html)</div>
  <pre>
  &lt;div class="u-full-width u-black background"&gt;
    &lt;div class="wvu-container"&gt;
      <span class="u-pms-166-c">&lt;r:partial name="patterns/wvu-nav" /&gt;</span>
    &lt;/div&gt;
  &lt;/div&gt;</pre>
</div>

<h2 class="element-header">Hero</h2>

<r:partial name="demo/wvu-hero-examples" />

<h2 class="element-header">Landing Page Header</h2>

<r:partial name="demo/wvu-landing-page-header" />

<r:partial name="demo/wvu-widgets" />

<h2 class="element-header">Buttons</h2>

<div class="wvu-container">
<r:partial name="demo/wvu-buttons" />
</div>

<h2 class="element-header">Breadcrumbs</h2>

<r:partial name="patterns/wvu-breadcrumbs" />

<div class="wvu-container">
  <div class="code-label code-label--html">HTML (views/backpage.html)</div>
  <pre>
  &lt;div class="wvu-container"&gt;
    <span class="u-pms-166-c">&lt;r:partial name="patterns/wvu-breadcrumbs" /&gt;</span>
  &lt;/div&gt;</pre>
  <div class="code-label code-label--styles">SCSS (scss/2-modules/modules-dir.scss)</div>
  <pre>
  @import 'wvu-breadcrumbs'</pre>
</div>

<h2 class="element-header">Type Hierarchy</h2>

<div class="u-full-width wvu-section">
  <div class="wvu-container">

    <h1 class="shout shout--wvu-blue">Mountaineers <br><span class="shout--wvu-gold">Go First.</span></h1>
  
    <main class="main" role="main">
      <r:partial name="demo/wvu-typography" />
    </main>
  
    <aside class="wvu-sidebar omega">
      <r:partial name="demo/wvu-sub-nav-example" />
    </div>
    
    <div class="wvu-container">
      <div class="code-label code-label--styles">SCSS (scss/1-base/base-dir.scss)</div>
  <pre>
  @import 'typography';</pre>
  <div class="code-label code-label--html">HTML (views/backpage.html)</div>
  <pre>
  &lt;div class="wvu-sub-nav"&gt;
    <span class="u-pms-166-c">&lt;r:partial name="patterns/wvu-sub-nav"&gt;</span>
  &lt;/div&gt;</pre>
  <div class="code-label code-label--styles">SCSS (scss/2-modules/modules-dir.scss)</div>
  <pre>
  @import 'wvu-sub-nav';</pre>
    </div>
  </div>
</div>
<h2 class="element-header">Back Page/Below-the-fold Callout</h2>
<r:partial name="demo/wvu-back-page-callouts" />

<h2 class="element-header">Slideshow Hero Unit with Shout and Photo</h2>

<r:partial name="demo/wvu-flexslider" />

  <div class="wvu-container">
  <div class="code-label code-label--html">HTML (views/frontpage.html)</div>
  <pre>
  &lt;div class="slideshow-wrapper"&gt;
    &lt;div class="flexslider"&gt;
      &lt;ul class="slides"&gt;
        &lt;r:get_page id="4850"&gt;
          <span class="u-pms-166-c">&lt;r:partial name="patterns/wvu-flexslider-slides" /&gt;</span>
        &lt;/r:get_page&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  // this loops through a set of child pages based on a page ID to populate flexslider slides. substitute your own page ID for the parent of your slide pages.</pre>
  <div class="code-label code-label--styles">SCSS (scss/2-modules/modules-dir.scss)</div>
  <pre>
  @import 'wvu-flexslider';
  @import 'wvu-hero';</pre>
  <div class="code-label code-label--js">JS (views/frontpage.html)</div>
  <pre>
  &lt;r:include_javascript name="vendor/jquery.flexslider" /&gt;
  &lt;script type="text/javascript"&gt;
    $(window).load(function() {
      $('.flexslider').flexslider();
    });
  &lt;/script&gt;</pre>
  </div>







<h2 class="element-header">Footer</h2>

<r:content_for name="page_js"> 
  <r:include_javascript name="vendor/calendar-reformat" />
  <r:partial name="demo/javascripts-wvu-flexslider" />
  <r:partial name="demo/javascripts-wvu-tabbed-ui" />
  <r:partial name="demo/javascripts-wvu-youtube-playlist" />
</r:content_for>