---
layout: default
---

<r:partial name="patterns/wvu-masthead" />

<r:partial name="patterns/nav" />

<r:partial name="patterns/breadcrumbs" />    

<a name="maincontent"></a>

<r:partial name="landing-page-header" />

<div class="cards cards--pms-429-c">
  <div class="cards__wrapper">
    <r:partial name="patterns/super-nav" />
  </div>
</div>

<div class="cards">
  <div class="cards__wrapper">
    <r:partial name="patterns/features-triptych" />
  </div>
</div>

<r:content_for name="page_js"> 
  <r:include_javascript name="vendor/calendar-reformat" />
</r:content_for>