---
layout: default
---

<r:partial name="layouts/be/wvu-masthead" />

<r:partial name="layouts/nav" />
    
<r:partial name="landing-page-header" />

<r:partial name="layouts/be/features" />

<r:content_for name="page_js"> 
  <r:include_javascript name="jquery.flexslider" />
  <r:include_javascript name="vendor/calendar-reformat" />

  <!-- Target sliders individually with different properties -->
  <script type="text/javascript">
    $(window).load(function() {
      $('.flexslider').flexslider({
        animation: 'fade',
      });
    });
  </script>
</r:content_for>