---
layout: default
---

<r:partial name="patterns/wvu-masthead" />

<div class="u-full-width u-black background">
  <r:partial name="demo/accessible-dropdown" />
</div>

<div class="wvu-container">
  
  <r:partial name="patterns/wvu-breadcrumbs" />
  
  <div class="backpage-content">
  
    <main class="main" role="main">
      <a name="maincontent" tabindex="-1"></a>
      <r:partial name="demo/wvu-typography" />
    </main>
  
    <aside class="wvu-sidebar" role="complementary">
      <r:partial name="demo/wvu-sub-nav-example" />
     <r:editable_region name="sidebar" />
    </aside> <!-- /.wvu-sidebar -->
  
  </div>
</div>

<div class="wvu-section u-full-width u-pms-432-c background">
  <div class="wvu-container">
    <h3><span class="u-pms-558-c">This is a headline.</h3>
    <p><r:editable_region name="long-paragraph" /></p>
    <h3><span class="u-pms-144-c">This is a headline.</h3>
    <p><r:editable_region name="long-paragraph" /></p>
  </div>
</div>

<r:content_for name="page_js"> 
  <r:include_javascript name="vendor/calendar-reformat" />
</r:content_for>