---
layout: default
---

<r:partial name="patterns/wvu-masthead" />

<r:partial name="patterns/wvu-nav" />

<r:partial name="patterns/wvu-breadcrumbs" />

<div class="type-system">
  
  <main class="main" role="main">
    <a name="maincontent"></a>
    <r:partial name="demo/wvu-typography" />
  </main>
  
  <aside class="wvu-sidebar" role="complementary">
    <r:partial name="demo/wvu-sub-nav-example" />
   <r:editable_region name="sidebar" />
  </aside> <!-- /.wvu-sidebar -->
  
</div>

<r:content_for name="page_js"> 
  <r:include_javascript name="vendor/calendar-reformat" />
</r:content_for>