---
layout: default
---

<r:partial name="patterns/wvu-masthead" />

  <div class="u-full-width u-black background">
    <r:partial name="patterns/wvu-nav" />
  </div> 

<a name="maincontent" tabindex="-1"></a>

<r:partial name="patterns/wvu-landing-page-header" />

<r:partial name="demo/wvu-super-nav-example" />

<div class="wvu-section">
  <r:partial name="demo/wvu-spotlights--triptych" />
</div>

<r:content_for name="page_js"> 
  <r:include_javascript name="vendor/calendar-reformat" />
</r:content_for>