// Typography
//==================================================

$helvetica-neue-condensed-black: 'HelveticaNeueW01-97Blac', 'Helvetica W01 Bold', Helvetica, Arial, sans-serif;
$helvetica-neue-bold: 'HelveticaNeueW01-75Bold', Helvetica, Arial, sans-serif;
$helvetica-neue-roman: 'HelveticaNeueW01-55Roma', Helvetica, Arial, sans-serif;
$helvetica-neue-light: 'HelveticaNeueW01-45Ligh', Helvetica, Arial, sans-serif;
$iowan-old-style: 'IowanOldStyleW01-Roman', Georgia, Times, serif;
$iowan-old-style-italic: 'IowanOldStyleW01-Italic1120392', Georgia, Times, serif;

$shout: $helvetica-neue-condensed-black !default;
$subhead: $helvetica-neue-bold !default;
$traditional-audience: $iowan-old-style !default;
$narrow-audience: $iowan-old-style-italic !default;

$shout-font-size: 8.2em;
$shout-line-height: 0.80487em;

html { font-size: 16px; }

.helvetica-roman { font-family: $helvetica-neue-roman; font-weight: normal; line-height: 1em; }
.helvetica-light { font-family: $helvetica-neue-light; font-weight: normal; line-height: 1em; }
.iowan { font-family: $iowan-old-style; font-weight: normal; line-height: 1.16666666667em; }
.iowan-italic { font-family: $iowan-old-style-italic; font-weight: normal; }
.helvetica-bold { font-family: $helvetica-neue-bold; font-weight: normal; line-height: 1.08333333em; }

h2, h3, h4, h5, h6 { color: $pms-432-c; clear: both; margin-bottom: 1em; }

h1 { font-size: 3em; line-height: 1.08333333em; width: 100%; margin-top: 0; margin-bottom: 0.5em;
  @include mq($bp-large) { font-size: 4em; }
}

.shout { font-size: 3em; line-height: $shout-line-height; font-family: $shout; text-transform: uppercase; font-weight: normal; 
  @include mq($bp-large) { font-size: 8.2em; }
}

.shout--medium-shout { font-size: 4.5em; }

.shout--long-shout { font-size: 2em; 
  @include mq($bp-medium) { font-size: 3em; }
}

.shout--wvu-gold { color: $wvu-gold; }
.shout--wvu-blue { color: $wvu-blue; }
.shout--white { color: white; }

h2 { font-size: 2.4em; line-height: 1.08333333em; }

p.lede { font-size: 2.4em; font-family: $helvetica-neue-light; line-height: 1.08333333em; }

p + p.lede { margin-top: 1em; }