// WVU Color Pallette
//==================================================

// These colors are alread imported into v4 of the global stylesheet; however,
// if we want to use them in this project, we must import them here as well. 

// Primary
$wvu-blue: #002855;
$wvu-gold: #EAAA00;

//  Secondary
$black: #2C2A29;
$pms-432-c: #333F48;
$pms-429-c: #A2AAAD;
$pms-warm-gray-11: #6E6259;
$pms-warm-gray-7: #968C83;
$pms-warm-gray-3: #BFB8AF;

// Tertiary
$pms-286-c: #0033A0;
$pms-300-c: #005EB8;
$pms-629-c: #9BD3DD;
$pms-7554-c: #4B3D2A;
$pms-7557-c: #9F7D23;
$pms-144-c: #ED8B00;
$pms-7476-c: #0D5257;
$pms-5625-c: #708573;
$pms-558-c: #9ABEAA;
$pms-180-c: #BE3A34;
$pms-166-c: #E35205;
$pms-115-c: #FDDA24;

// Primary
$alternate-blue: #005daa;

//  Secondary
$secondary-light-gold: #ffe894;
$secondary-middle-blue: #0079c1;
$secondary-light-blue: #a0c4da;
$purple: #27318b;
$dark-orange: #d9531e;
$orange: #f47b20;
$orange-med: #d9531e;
$dark-grey: #455560;
$middle-grey: #5c6f7c;
// 100% Black: #000;

// Tertiary
$orange-dark: #bb471a;
$blue-grey: #abc;
$light-grey: #e0e0e0;
$vibrant-blue: #39f;
$grey-blue: #369;
$bright-purple: #60c;

$basecolor: #333;
$linkcolor: #0058aa;

// Double Abstraction
$linkhover: $wvu-gold;
$linkvisited: $bright-purple;

// Breakpoints
//==================================================

$bp-mini: em(450);
$bp-small: em(570);
$bp-medium: em(640);
$bp-large: em(860);
$bp-xlarge: em(1200);

// Header Colors

$header-logo-color: #fff;

// Navigation Colors
$nav-department__background: #002e5d;

// More accessible colors
$form-search__submit: #ae0d0d;

// Base sizes
$base-header-padding: 36px 0;

// Typography

$shout: 'HelveticaNeueW01-97Blac', 'HelveticaNeueW01-75Bold', Helvetica, Arial, sans-serif;
$subhead: 'HelveticaNeueW01-75Bold', Helvetica, Arial, sans-serif;
$helvetica-neue-light: 'HelveticaNeueW01-45Ligh', Helvetica, Arial, sans-serif;
$iowan: 'IowanOldStyleW01-Roman', Georgia, Times, serif;
$iowan-italic: 'IowanOldStyleW01-Italic1120392', Georgia, Times, serif;