// WVU Color Pallette
//==================================================

// Primary
$wvu-blue: #002855;
$wvu-gold: #EAAA00;

// Neutral
$black: #2C2A29;
$pms-432-c: #333F48;
$pms-429-c: #A2AAAD;
$pms-warm-gray-11: #6E6259;
$pms-warm-gray-7: #968C83;
$pms-warm-gray-3: #BFB8AF;

// Accent
$pms-286-c: #0033A0;
$pms-300-c: #005EB8;
$pms-629-c: #9BD3DD;
$pms-7554-c: #4B3D2A;
$pms-7557-c: #9F7D23;
$pms-144-c: #ED8B00;
$pms-7476-c: #0D5257;
$pms-5625-c: #708573;
$pms-558-c: #9ABEAA;
$pms-180-c: #BE3A34;
$pms-166-c: #E35205;
$pms-115-c: #FDDA24;

// Breakpoints
//==================================================

$bp-mini: 450;
$bp-small: 570;
$bp-medium: 768;
$bp-large: 960;
$bp-xlarge: 1200;

// Typography

$shout: 'HelveticaNeueW01-97Blac', 'HelveticaNeueW01-75Bold', Helvetica, Arial, sans-serif;
$subhead: 'HelveticaNeueW01-75Bold', Helvetica, Arial, sans-serif;
$helvetica-neue-light: 'HelveticaNeueW01-45Ligh', Helvetica, Arial, sans-serif;
$iowan: 'IowanOldStyleW01-Roman', Georgia, Times, serif;
$iowan-italic: 'IowanOldStyleW01-Italic1120392', Georgia, Times, serif;

// Buttons

$base-border-radius: 3px;
$hover-button-color: $wvu-blue;