// Links
//==================================================

$base-link-color: $pms-286-c;
$hover-link-color: $pms-300-c;
$link-border-style: 1px dotted;

// Masthead
//==================================================

$blue-flying-wv: '../images/flying-wv-blue.png';
$wvu-masthead-two-line-lockup: false;
$wvu-masthead-background: 'blue';

// Hero Elements
//==================================================

$hero-image: '../images/coopers-rock.jpg';
$blue-pattern-background: '../blue-pattern-close';
$diagonal-line-gold: '../images/gold-diagonal.svg';
$diagonal-line-blue: '../images/blue-diagonal.svg';
$diagonal-line-white: '../images/white-diagonal.svg';
$diagonal-line-gold-transparent: '../images/gold-diagonal-transparent.svg';
$diagonal-line-blue-transparent: '../images/blue-diagonal-transparent.svg';
$diagonal-line-white-transparent: '../images/white-diagonal-transparent.svg';
$wvu-pattern-grid: '../images/wvu-pattern-grid.png';
$vignetting: '../images/vignetting-2.png';

// Typography

$wvu-hero-title-typeface: $shout !default;

// Set vignetting to true if you have a photo that is busy and makes text illegible

$has-vignetting: false;

// Sets the cropping of the WVU grid pattern

$grid-zoom-1: 3340px;
$grid-zoom-2: 1720px;
$grid-zoom-3: cover;
$wvu-pattern-grid-zoom: $grid-zoom-2;

$wvu-hero-title-typeface: $shout;
$wvu-hero-title-color: white;
$is-shout-bottom-gold: true;

/*
  Options for WVU Hero Title typeface:
  $shout (Helvetica Neue Black Condensed)
  $subhead (Helvetica Bold)
  $iowan (Iowan Old Style)
  $iowan-italic (Iowan Old Style Italic)
*/

// Pick one -- Can only have one or the other (diagonal or grid)

$has-diagonal-line: false;
$has-wvu-pattern-grid: false;

$has-small-photo: false;
$shout-length: 'short';

/*
  Options for WVU Hero Title typeface:
  short
  medium
  long
*/

// Layout
$wvu-section-padding: 4em 0 4.3em 0;

// Grid
//==================================================

$gutter: golden-ratio(5em, 1) !default; // Gutter between each two columns
$max-width: em(1180) !default; // Max-width of the outer container

