// Blog Styles
//==================================================
// Styles for the blog index and blog article templates.

// Blog Articles
.article { float: left; width: 100%; margin: 20px 0; border-bottom: 1px solid $light-grey; 
  &:first-child, .blog_article & { margin-top: 0; }
}
.blog_article .article { border-bottom: 0; padding-bottom: 0; } // Remove stuff for individual articles
.article__header { max-width: none; border-bottom: 0; margin-top: 18px; margin-bottom: 7px; }
.article__meta-info { font-size: .8em; margin-top: 5px; margin-bottom: 0; color: #666; }

// Older/newer articles buttons
.pagination { padding-left: 0; list-style-type: none; }
.pagination__next, .pagination__previous { display: inline; float: left; margin-right: 3px; }
.pagination__disabled, .pagination__disabled:hover { background-color: $middle-grey; cursor: not-allowed; }