// Flexslider Overrides
//==================================================
// Overriding some styles that are being applied to Flexslider

.flex-direction-nav a { border-bottom: 0; height: 50px; 
  &:hover { border-bottom: 0; }
}

.flex-pauseplay a { border-bottom: 0; height: 24px; bottom: 1px; }