// Header
//==================================================
// Styles for the site logo, search, and quicklinks.

// NOTE: Can quicklinks and search positioning styles (towards the bottom) be combined into their respective blocks' base styling?

.header { background-color: $wvu-gold; padding-top: 10px; padding-bottom: 10px; position: relative; z-index: 10; box-shadow: 2px 3px 2px rgba(0,0,0,.38);
  @include mq($bp-medium) { padding-top: 15px; }
  @include mq($bp-xlarge) { text-align: left; }
} //.header

.header__logo, .header__logo:visited { float: left; color: $nav-department__background; text-transform: uppercase; border-bottom: 1px dotted transparent; margin-top: 5px; margin-bottom: 13px; font-size: .9em; font-weight: 600; // fw: 600 specifies Helvetica Neue Bold Condensed
  @include mq(345) { font-size: 1em; }
  @include mq(390) { font-size: 1.1em; }
  @include mq($bp-mini) { font-size: 1.3em; line-height: 1; margin-top: 10px; margin-bottom: 10px; }
  @include mq($bp-small) { font-size: 1.6em; }
  @include mq($bp-medium) { margin-right: 10px; margin-left: 10px; font-size: 1.05em; }
  @include mq(865) { margin-top: 7px; font-size: 1.4em; }
  @include mq($bp-large) { margin-top: 9px; font-size: 1.7em; }
} //.header__logo, &:visited
.header__logo:hover { color: $nav-department__background; text-decoration: none; border-bottom: 1px dotted $nav-department__background; }

// Quicklinks and Search wrapper
.qlinks-search-container {
  @include mq($bp-medium) { float: right; width: 400px; }
  @include mq($bp-large) { margin-top: 7px; }
} //.qlinks-search-containe

// Site Search
// We're making the search field fluid and positioning the submit button absolutely on top of it.
.form-search { float: left; width: 100%; position: relative;
  @include mq($bp-small) { margin-right: 10px; }
} //.form-search
.form-search__field { display: block; font-size: .9em; width: 83%; border: 1px solid #d5d4d4; margin-bottom: 5px; padding: 7px 10px 4px 26px;
  @include mq($bp-medium) { padding-right: 0; }
  &:focus { outline: none; }
  &::-webkit-input-placeholder { font-size: .9em; } // The font size here must be the same for .form-search__field
  &::-moz-placeholder { font-size: .9em; }
  &:-ms-input-placeholder { font-size: .9em; }
} //.form-search__field
.form-search__icon { position: absolute; left: 7px; top: 7px; color: #d8d8d8; }
.form-search__submit { float: left; border: 0; color: #fff; font-size: .8em; background-color: $form-search__submit; padding: 7px 10px; position: absolute; top: 0; right: 0; }

// Quicklinks / How Do I?
.how-do-i { margin-top: 0; margin-bottom: 0; padding: 2px 5px;
  @include mq($bp-small) { margin-top: -1px; }
  li { margin: 0; }
  a { border-bottom: 0; }
}
.how-do-i, .how-do-i ul, .how-do-i li, .how-do-i ul a { width: 100%; }

// Fix quicklinks in edit mode:
#_ckey_quicklinks { float: left; width: 100%; position: relative; top: -26px; }

// Let's make search and quicklinks side by side for mobile-tablet
@include mq($bp-small) { 
  .form-search, .how-do-i { width: 48%; }
} //$bp-small