// Footer Super Navigation
//==================================================
// Styles for the super nav in the footer.

.nav__footer { background: url(../images/gradient-bar.jpg) #f7f7f7 repeat-x center bottom; position: relative; margin-top: 20px;
  &:before { content: ''; background: url(../images/triangle--grey.png) no-repeat center top; height: 13px; width: 45px; position: absolute; left: 50%; top: -13px; }
}

.nav__footer-wrap { margin-bottom: 15px;
  &:nth-child(3n+1) { clear: left; }
} //.nav__footer-wrap

.nav__footer-heading { margin-top: 0; margin-bottom: 0; font-size: 1.1em;
  a { border-bottom: 0;
    &:hover { color: $linkhover; border-bottom: 1px solid $linkhover; }
  } //a
} //.nav__footer-heading

.nav__footer-list { margin-top: 5px; 
  a { font-size: .95em; }
} //.nav__footer-list