// Sidebar Buttons
//==================================================
// Buttons that are below the sidebar navigation on backpages.

.sidebar__buttons { float: left; width: 100%;
  ul { padding-left: 0; background-color: $linkcolor; border-bottom: 4px solid $nav-department__background; }
  li { list-style-type: none; border-top: 1px solid $nav-department__background; margin: 0;
    &:first-child { border-top: 0; }
  } //li
  a { color: #fff; border-bottom: 0; display: block; font-size: .9em; font-weight: bold; padding: 10px 41px 10px 30px; background: url(../images/sidebar__buttons-arrow.png) no-repeat 90% center;
    &:hover { background-color: darken($nav-department__background, .05%); }
  } //a
} //.sidebar__buttons