// Footer Social Icons
//==================================================
// Styles for the social icons in the footer.

.diversity-social { background-color: $wvu-gold; 
  ul { float: left; margin-top: 0; margin-bottom: 0; padding-left: 0; }
  li { float: left; display: inline; margin: 0; }
  a { float: left; color: #fff; border-bottom: 0; width: 42px; min-height: 42px; margin: 14px 7px 14px 0; 
    &:hover { opacity: .9; }
  } //a
} //.diversity-social

// Style individual icons
.diversity-social__icon--facebook { background-image: url(../images/diversity-social__icon--facebook.png); }
.diversity-social__icon--twitter { background-image: url(../images/diversity-social__icon--twitter.png); }
.diversity-social__icon--instagram { background-image: url(../images/diversity-social__icon--instagram.png); }
.diversity-social__icon--rss { background-image: url(../images/diversity-social__icon--rss.png); }