<!-- Features Triptych - wvu-pattern-library/views/patterns/_features-triptych.html -->

<div class="cards__card">
  <div class="cards__image">
    <img src="../images/coopers-rock.jpg" alt="">
  </div>
  <h2 class="cards__header">
    Major
  </h2>
  <p class="cards__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
  <a href="" class="button">Major at WVU</a>
</div>

<div class="cards__card cards__card--feature-story">
  <div class="cards__image">
    <img src="../images/girl-pointing.jpg" alt="">
  </div>
  <h2 class="cards__header">
    Feature Story
  </h2>
  <p class="cards__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
  <a href="" class="button">Major at WVU</a>
</div>

<div class="cards__card">
  <div class="cards__image">
    <img src="../images/tireless.jpg" alt="">
  </div>
  <h2 class="cards__header">
    Story with Video
  </h2>
  <p class="cards__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
  <a href="" class="button">Major at WVU</a>
</div>