<!-- Profile Index - wvu-pattern-library/views/patterns/_profile-index.html -->

<r:children:each>
  <div class="profiles__profile-index">
    <div class="profiles__photo">
      <a href="<r:page:url />"><r:page:content name="profiles__photo" /></a>
    </div>
    <div class="profiles__info">
      <h3 class="profiles__name"><a href="<r:page:url />"><r:page:first_non_blank_attr names="alternate_name,name" /></a></h3>
      <p class="profiles__intro">
        <r:page:meta_description />
      </p>
      <a href="<r:page:url />" class="button">Continue to <r:page:first_non_blank_attr names="alternate_name,name" /></a>
    </div>
  </div>
</r:children:each>
