<!-- Spotlights - wvu-pattern-library/views/patterns/_spotlights.html -->

<div class="cards__spotlight">
  <div class="cards__spotlight-image">
    <a href=""><img src="../images/kids-sitting-by-tulips.jpg" alt="Kids sitting by tulips." /></a>
  </div>
  <div class="cards__copy-wrapper">
    <h3 class="cards__spotlight-header">Spotlight 1</h3>
    <p class="cards__spotlight-copy">Lorem ipsum dolor sit amet, consectetur adipiscing. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
    <a href="" class="button button--white button--small">Read More</a>
  </div>
</div>
<div class="cards__spotlight">
  <div class="cards__spotlight-image">
    <a href=""><img src="../images/kids-sitting-by-tulips.jpg" alt="Kids sitting by tulips." /></a>
  </div>
  <div class="cards__copy-wrapper">
    <h3 class="cards__spotlight-header">Spotlight 1</h3>
    <p class="cards__spotlight-copy">Lorem ipsum dolor sit amet, consectetur adipiscing. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
    <a href="" class="button button--white button--small">Read More</a>
  </div>
</div>
<div class="cards__spotlight">
  <div class="cards__spotlight-image">
    <a href=""><img src="../images/kids-sitting-by-tulips.jpg" alt="Kids sitting by tulips." /></a>
  </div>
  <div class="cards__copy-wrapper">
    <h3 class="cards__spotlight-header">Spotlight 1</h3>
    <p class="cards__spotlight-copy">Lorem ipsum dolor sit amet, consectetur adipiscing. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
    <a href="" class="button button--white button--small">Read More</a>
  </div>
</div>