<!-- Quicklinks Widget - wvu-pattern-library/views/patterns/_widgets__quicklinks.html -->

<ul class="widgets__quicklinks widgets__quicklinks--flex">
  <li class="widgets__quicklink widgets__quicklink--flex"><a href="">Study Abroad</a></li>
  <li class="widgets__quicklink widgets__quicklink--flex"><a href="">Jobs</a></li>
  <li class="widgets__quicklink widgets__quicklink--flex"><a href="">Off-campus Summer Program</a></li>
  <li class="widgets__quicklink widgets__quicklink--flex"><a href="">Davis College Computing Overview</a></li>
  <li class="widgets__quicklink widgets__quicklink--flex"><a href="">Safety</a></li>
  <li class="widgets__quicklink widgets__quicklink--flex"><a href="">Fact Sheet</a></li>
  <li class="widgets__quicklink widgets__quicklink--flex"><a href="">Research Facts</a></li>
</ul>