<div class="wvu-masthead__search-bar">
  <div class="wvu-masthead__search-and-submit">
    <r:partial name="patterns/wvu-masthead__links" />
    <input class="wvu-masthead__search-box" type="search" placeholder="Enter Search" />
    <button class="wvu-masthead__search-button" type="submit">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
    </button>
  </div>
  <div class="wvu-masthead__search-type"><input type="radio"> Search this site <input type="radio"> Search WVU</div>
</div>