<div class="wvu-masthead">
  <div class="wvu-masthead__container">
    <a class="wvu-masthead__logo wvu-masthead__logo--w-signature" href="/"><span class="wvu-masthead-title wvu-masthead__title--w-signature"><r:site:name /></span></a>
    
    <div class="wvu-masthead__search-bar">
      <div class="wvu-masthead__search-and-submit">
        <a href="http://wvu.edu" class="wvu-masthead__home-link">WVU Home</a>
        

        
        <form id="search-form" class="form-search cf" action="//search.wvu.edu/search" method="get">
        	<span class="form-search__icon icon-search" aria-hidden="true"></span>
          <fieldset>
            <legend>Search WVU by filling out the following field and selecting the domain of your search:</legend>
            <label for="q">Enter Search</label>
          	<input name="q" class="wvu-masthead__search-box" type="search" id="q" placeholder="Enter Search" />
          	<input class="hidden" id="as_sitesearch" name="as_sitesearch" type="hidden" value="brand.wvu.edu" />
          	<input class="hidden" id="sort" name="sort" type="hidden" value="date:D:L:d1" />
          	<input class="hidden" id="output" name="output" type="hidden" value="xml_no_dtd" />
          	<input class="hidden" id="ie" name="ie" type="hidden" value="UTF-8" />
          	<input class="hidden" id="oe" name="oe" type="hidden" value="UTF-8" />
          	<input class="hidden" id="proxystylesheet" name="proxystylesheet" type="hidden" value="default_frontend">
          	<input class="hidden" id="client" name="client" type="hidden" value="default_frontend" />
          	<button class="wvu-masthead__search-button" type="submit">
          		<img src="<r:image_url name="search-icon.png" />" alt="Search Icon">
          	</button>
          	<div class="wvu-masthead__search-type">
              <label for="search-form-sitesearch">Search this site</label>
          		<input type="radio" id="search-form-sitesearch" name="search-scope" value="search-this-site" checked="true"> Search this site 
              <label for="search-form-wvusearch">Search WVU</label>
          		<input type="radio" id="search-form-wvusearch" name="search-scope" value="search-wvu"> Search WVU
          	</div>
          </fieldset>
        </form>
        <script>
        	document.getElementById("search-form-sitesearch").addEventListener("click", function() {
        		document.getElementById("as_sitesearch").value = "brand.wvu.edu";
        	});
        	document.getElementById("search-form-wvusearch").addEventListener("click", function() {
        		document.getElementById("as_sitesearch").value = "wvu.edu";
        	});
        </script>
        
      </div>
      
    </div>
    
  </div> <!-- /.wvu-masthead-container -->
</div> <!-- /.wvu-masthead --> 