<!-- WVU Masthead for Departments - wvu-pattern-library/views/patterns/_wvu-masthead--department.html -->

<div class="wvu-masthead wvu-masthead--department">
  <div class="wvu-masthead__container">
    <a class="wvu-masthead__logo" href="http://www.wvu.edu/"><span class="wvu-masthead__university">West Virginia University</span> Department of English</a>
    
    <a href="" class="wvu-masthead__college-link wvu-gold background">Eberly College of Arts and Sciences</a>
    
    <div class="wvu-masthead__search-bar">
      <div class="wvu-masthead__search-and-submit">
        <a href="http://wvu.edu" class="wvu-masthead__link">WVU Home</a>
        <input class="wvu-masthead__search-box" type="search" placeholder="Enter Search" />
        <button class="wvu-masthead__search-button" type="submit">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
        </button>
      </div>
      <div class="wvu-masthead__search-type"><input type="radio"> Search this site <input type="radio"> Search WVU</div>
    </div>
    
  </div> <!-- /.wvu-masthead__container -->
</div> <!-- /.wvu-masthead --> 