<!-- WVU Masthead White - wvu-pattern-library/views/patterns/_wvu-masthead--white.html -->

<div class="wvu-masthead wvu-masthead--white">
  <div class="wvu-masthead__container">
    <a class="wvu-masthead__logo wvu-masthead__logo--white-background" href="http://www.wvu.edu/"><span class="wvu-masthead__university wvu-masthead__university--blue">West Virginia University</span> Administration and Finance</a>
    
    <div class="wvu-masthead__search-bar">
      <div class="wvu-masthead__search-and-submit">
        <a href="http://wvu.edu" class="wvu-masthead__link wvu-masthead__link--blue">WVU Home</a>
        <input class="wvu-masthead__search-box" type="search" placeholder="Enter Search" />
        <button class="wvu-masthead__search-button wvu-masthead__search-button--blue" type="submit">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
        </button>
      </div>
      <div class="wvu-masthead__search-type"><input type="radio"> Search this site <input type="radio"> Search WVU</div>
    </div>
    
  </div> <!-- /.masthead-container -->
</div> <!-- /.wvu-masthead --> 