// Layout Helpers
//==================================================
// All classes and mixins in here are prefixed with .u-*. "u" stands for "utility".

// Full width div
.u-full-width { float: left; width: 100%; }

// Add some padding
.u-padded { padding-top: 20px; padding-bottom: 20px; 
  @include mq($bp-medium) { padding-top: 40px; padding-bottom: 40px; }
  @include mq($bp-xlarge) { padding-top: 60px; padding-bottom: 60px; }
} //.u-padded

// Change color to yellow
.u-highlight { color: $wvu-gold; text-transform: uppercase; }

// Make a horizontal list when screen is wide enough
.u-list--horizontal {
  @include mq($bp-medium) { padding-left: 0; }
  li {
    @include mq($bp-medium) { list-style-type: none; display: inline;
      &:after { content: '|'; padding-right: 1px; color: #999; }
      &:last-child:after { content: ''; padding-right: 0; }
    } //$bp-medium
  } //li
} //.list--horizontal

// http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
// Removed vendor prefixes so that Autoprefixer will handle them
// Parent elements must have a fixed height (not min-height)
@mixin u-vertical-align { position: relative; top: 50%; transform: translateY(-50%); }

// Reset WVU's <h2> styles 
@mixin u-reset-wvu-h2 { color: $basecolor; border-bottom: 0; max-width: none; font-weight: bold; margin-top: 0; margin-bottom: 0; }

// <ul>'s with right arrows
.u-arrow-ul--right { float: left; padding-left: 0;
  li { list-style-type: none; float: left; clear: left; margin: 7px 0; padding-left: 23px; background: url(../images/arrow__list.png) no-repeat left -254px;
    &:hover { background-position: left 8px; }
  } //.li
} //.u-arrow-ul--right