

<div class="wvu-masthead-combo college">
  <div class="wvu-masthead-container">
    <a class="wvu-official-logo two-line-lockup" href="http://www.wvu.edu/"><span class="university">West Virginia University</span> <span class="title">Davis College of Agriculture, <br>Natural Resources and Design</span></a>
    
    <div class="search-bar">
      <div class="search-and-submit">
        <input class="search-box" type="search" placeholder="Enter Search" />
        <button class="search-button" type="submit">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
        </button>
        
        
      </div>
      <div class="search-type"><input type="radio"> Search this site <input type="radio"> Search WVU</div>
    </div>
    
  </div> <!-- /.masthead-container -->
</div> <!-- /.wvu-masthead --> 

