// Backpage Styles
//==================================================
// Styles for the main content in the department.html template

.main__heading { text-transform: none; font-size: 2.1em; margin-top: 0; margin-bottom: 10px; max-width: 15em; 
  @include mq($bp-large) { font-size: 2.3em; }
}

.main__content { margin-bottom: 25px; 
  @include mq($bp-medium) { margin-bottom: 45px; }
} //.main__content


// Some progressive enhancement via Flexbox for mobile
// Here, we're reordering the dom via Flexbox to give a better UX for smaller screens
// Only display it up to the ~tablet size (max-width media query)
// We're letting Autoprefixer handle the Flexbox vendor prefixes.
  @include mq($bp-medium - 1, false, max) { // Gotta -1 here since this is MAX width
    .flexbox, .flexboxlegacy {
      .main-container { display: flex; flex-wrap: wrap; } // Set these to the wrapper
      .sidebar { order: 15; } // ...then reorder the main items
      .main { order: 5; } // Much like z-index, you should leave some wiggle room for other elements here. 
      .staff__meta-info { order: 10; }
    } //.flexbox.flexboxlegacy
  } //mq