// Base styles
//==================================================
// --Only root level elements allowed here, no classes or ID's--

body { background: #fff; font-family: "Neue Helvetica W01", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif; }

a { border-bottom: 1px dotted; color: $linkcolor;
  &:hover { text-decoration: none; border-bottom: 1px solid; outline: none; } // outline: none; tries to remove gnarly outline for mouse users after clicking the link: http://24ways.org/2009/dont-lose-your-focus/
  &:focus { outline: 3px dotted red; }
}

// Fix webkit auto-rounding of search inputs
// https://stackoverflow.com/questions/7963539/input-type-search-border-radius-issue-in-google-chrome
input[type="search"], input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}