// Colored Borders
//==================================================
// Styles for the departments', news, and footer links' colored top borders.

%colorize { padding-top: 19px; border-top: 5px solid; }

.colorize__di { @extend %colorize; border-top-color: $orange; }

.colorize__oas { @extend %colorize; border-top-color: $bright-purple; }

.colorize__ea { @extend %colorize; border-top-color: $wvu-gold; }

.colorize__aaeo { @extend %colorize; border-top-color: $orange-dark; }

.colorize__twitter { @extend %colorize; border-top-color: $vibrant-blue; }

.colorize__calendar { @extend %colorize; border-top-color: $form-search__submit; }

.colorize__news { @extend %colorize; border-top-color: $alternate-blue; }

.colorize__ddei { @extend %colorize; border-top-color: $wvu-blue; }