// Department Summary
//==================================================
// Styles for the departments and their summaries on the homepage.
// Also styles for "Help me find info about diversity"/"How do I?"

.department-summary__wrap { background: url(../images/triangle--white.png) no-repeat #f7f7f7 center bottom; }

.department-summary { margin-top: 15px;
  &:nth-child(3n+1) { clear: left; } // Make columns on the left always clear: left;
} //.department-summary

// Department headers
.department-summary__header { @include u-reset-wvu-h2; font-size: 1.3em; 
  a { border-bottom: 0; 
    &:hover { border-bottom: 1px solid $linkhover; }
  } //a
} //.department-summary__header

// Department summaries
.department-summary__main { line-height: 1.7; 
  p { margin-top: 0; }
} //.department-summary__main 

// "Help me find info about Diversity" / "How do I"
.department-summary__how-do-i { margin-bottom: 30px; border: 3px solid $nav-department__background; }

// Have to override Skeleton's specificity here
.department-summary.department-summary__how-do-i {
  @include mq($bp-medium) { margin-left: 29%; }
} //epic selector

.department-summary__header--how-do-i {  color: #fff; background-color: $nav-department__background; padding: 8px 23px; padding-right: 10px; }

.department-summary__how-do-i--main { float: left; width: 100%;
  ul { float: left; width: 100%; margin-top: 0; margin-bottom: 0; }
  li { float: left; width: 100%; border-bottom: 1px solid #abc8d8; margin-top: 0; margin-bottom: 0; background-position: 19px 51%; 
    //&:hover { background-position: 19px 14px; }
    &:hover { background-position: 19px -2.8%; }
  } //li
  a { float: left; width: 100%; border-bottom: 0; padding: 8px 20px; }
} //.department-summary__how-do-i--main