// Footer Styles
//==================================================
// Styles for WVU standard footer: contact, links, and icons.
// Using the Diversity mural for a background image for xlarge browsers.

.footer { background-color: $nav-department__background; color: #fff; font-size: 1em; 
  @include mq($bp-xlarge) { background: url(../images/mural-footer--xlarge.jpg) #122e5f repeat-x top center; min-height: 340px; }
  a { color: $wvu-gold; 
    &:hover { color: $secondary-light-gold; }
  } //a
} //.footer

.wvu-contact { padding-bottom: 30px;
  p { margin: 0; }
} //.wvu-contact

.wvu-social {
  a:hover { border-bottom: 0; opacity: .9; }
} //.wvu-social