// Department Navigation
//==================================================
// Global navigation at the top of the page that links to each department within the division.

// Main department navigation styles
.nav-department { background-color: $nav-department__background; padding-top: 8px; padding-bottom: 5px; }

// Responsive-nav.com toggle (inside of .nav-department)
.nav-toggle { float: left; width: 98%; padding-top: 4px; padding-bottom: 4px; text-align: center; color: #fff; border: 1px solid #666; border-radius: 7px; margin-bottom: 4px;
  @include mq($bp-medium) { margin-left: 10px; }
  &:visited { color: #fff; }
  &:hover { text-decoration: none; background-color: $orange; color: #fff; border: 1px solid $orange; }
} //.nav-toggle

.nav-department__main {
  li { margin-bottom: 0; border-top: 1px solid lighten($nav-department__background, 10%);
    &:first-child { border-top: 0; } // Remove the top border for mobile
    @include mq($bp-large) { width: auto; border-top: 0; }
  } //li
  a { width: 100%; background-color: transparent; padding-top: 12px; padding-bottom: 12px; border-bottom: 0;
    @include mq($bp-large) { padding-top: 10px; padding-bottom: 10px; padding-left: 4px; padding-right: 4px;
      &:before { content: '|'; color: #fff; padding-right: 8px; float: left; } // Add the pipe "|" as a separator, floating prevents "|" from being underlined on hover.
      &:hover { color: $wvu-gold; background-color: transparent; text-decoration: underline; }
    } //$bp-large
    @include mq($bp-xlarge) { font-size: .8em; }
  } //a

  // Style current/active page
  // .nav-department__main--active {
  //   a { color: #000; background-color: $wvu-gold; border-radius: 3px;
  //     @include mq($bp-large) { color: $wvu-gold; background-color: transparent; text-decoration: underline; }
  //   } //a
  // } //.nav-department__main--active
} //.nav__department__main


// NOTE: Can this go inline with the rest of the stuff? Guessing no.
.nav-department__main li:first-child a { 
  @include mq($bp-large) { padding-left: 2px; }
  &:before { 
    @include mq($bp-large) { content: ''; padding-right: 0; } // Remove the first pipe separator "|"
  } //&first-child a:before
} //.li:first-child a